.hpd-category-table
  .hpd-category-table__header
    h3.hpd-category-table__title 商品分類をお選び下さい

  .hpd-category-table__body
    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text 玄関周り

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text 窓・手すり

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text インテリア

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text エクステリア

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text 水まわり

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text 給湯機

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text 太陽エネルギー利用

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text 暖冷房・換気・融雪

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text 蓄電システム

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text 給水・排水

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text テレビ・情報・防災機器

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text エレベーター

    a.hpd-category-table__row(href="#")
      span.hpd-category-table__icon ▶
      span.hpd-category-table__text その他

