.hpd-checklist
  .hpd-checklist__header
    h3.hpd-checklist__title 自己チェックリスト記入例

  .hpd-checklist__body
    .hpd-checklist__buttons
      a.hpd-checklist__button(href="#") 更新用建築
      a.hpd-checklist__button(href="#") 更新用設備
      a.hpd-checklist__button(href="#") 変更用

