- var heading = '認定基準、試験方法書、自己チェックリスト等'

.hpd-004-1
  .hpd-004-1__container
    include ../../blocks/breadcrum
    include ../../blocks/banner
    .hpd-004-1__content
      include ../../blocks/sidebar
      .hpd-004-1__main
        include ../../blocks/heading
        include ./category-table
        .hpd-004-1__footer
          ul.hpd-004-1__links
            li.hpd-004-1__link-item
              a.hpd-004-1__link(href="#") 平成17年9月9日付公表、平成17年12月1日付施行における認定基準等の改正(施工方法の明確化等)についてはこちら(PDF)
            li.hpd-004-1__link-item
              a.hpd-004-1__link(href="#") 優良住宅部品認定基準等の制定、改正及び休止の履歴についてはこちら
        include ./checklist
