// Helpers
@use 'helpers/variables';
@use 'helpers/mixins';

// Layout
@use 'layout/structure';
@use 'layout/header';
@use 'layout/footer';

// Components
@use 'components/breadcrumb';
@use 'components/breadcrumb2';
@use 'components/banner';
@use 'components/banner2';
@use 'components/sidebar';
@use 'components/heading';
@use 'components/category-table';
@use 'components/checklist';
@use 'components/category-title';
@use 'components/data-table';
@use 'components/jis-table';
@use 'components/download-table';
@use 'components/notice-box';
@use 'components/info-box';
@use 'components/recruitment';
@use 'components/job-list';
@use 'components/main-banner';
@use 'components/section-title';
@use 'components/slider';
@use 'components/contact-box';

// Pages
@use 'pages/004/ui_004_1';
@use 'pages/004/ui_004_2';
@use 'pages/005/ui_005_1';
@use 'pages/005/ui_005_2';
@use 'pages/006/ui_006';
@use 'pages/007/ui_007';
@use 'pages/008/ui_008';
@use 'pages/009/ui_009';
@use 'pages/010/ui_010';
@use 'pages/について/ui_1';
@use 'pages/について/ui_2';
@use 'pages/メイン/main_1';
@use 'pages/メイン/main_2';
@use 'pages/メイン/main_3';
@use 'pages/メイン/main_4';
@use 'pages/メイン/main_5';
@use 'pages/メイン/main_6';
@use 'pages/メルマガ登録フォーム/mail_form';
@use 'pages/お問い合わせ/inquiry';
@use 'pages/お問い合わせ先一覧/contact_list';
@use 'pages/トップ/top_1';
@use 'pages/トップ/top_2';
