.hpd-010
  .hpd-010__container
    include ../../blocks/breadcrum4
    .hpd-010__content
      include ../../blocks/sidebar2
      .hpd-010__main
        .hpd-010__heading
          h2.hpd-010__title 採用情報

        include ./job-list
