.hpd-job-list
  // Job listings menu
  .hpd-job-list__menu
    .hpd-job-list__menu-item
      span.hpd-job-list__bullet
      a.hpd-job-list__menu-link(href="#job1") 構造計算適合性判定員の募集(大阪構造判定室)
      span.hpd-job-list__new-label New!!

    .hpd-job-list__menu-item
      span.hpd-job-list__bullet
      a.hpd-job-list__menu-link(href="#job2") 事務系職員の募集(急募)
      span.hpd-job-list__new-label New!!

    .hpd-job-list__menu-item
      span.hpd-job-list__bullet
      a.hpd-job-list__menu-link(href="#job3") 試験・研究業務の技術系職員募集
      span.hpd-job-list__new-label New!!

    .hpd-job-list__menu-item
      span.hpd-job-list__bullet
      a.hpd-job-list__menu-link(href="#job4") 建築確認検査業務(窓口担当)職員の募集

    .hpd-job-list__menu-item
      span.hpd-job-list__bullet
      a.hpd-job-list__menu-link(href="#job5") 建築確認・住宅性能評価部　検査員(現場検査)

    .hpd-job-list__menu-item
      span.hpd-job-list__bullet
      a.hpd-job-list__menu-link(href="#job6") 省エネ・環境関連業務職員

    .hpd-job-list__menu-item
      span.hpd-job-list__bullet
      a.hpd-job-list__menu-link(href="#job7") 住宅性能評価員(業務委託契約)の募集(急募)

    .hpd-job-list__menu-item
      span.hpd-job-list__bullet
      a.hpd-job-list__menu-link(href="#job8") マネジメントシステム審査員募集

  // Job detail section 1
  .hpd-job-list__detail(id="job1")
    .hpd-job-list__table-wrapper
      .hpd-job-list__detail-header
        span.hpd-job-list__bullet-black ■
        h3.hpd-job-list__detail-title 構造計算適合性判定員の募集(大阪構造判定室)
        span.hpd-job-list__new-label New!!
      table.hpd-job-list__table
        tbody
          tr.hpd-job-list__row
            th.hpd-job-list__header 募集人員
            td.hpd-job-list__cell 1名

          tr.hpd-job-list__row
            th.hpd-job-list__header 主な業務内容
            td.hpd-job-list__cell
              | ・構造計算適合性判定員としての設計図書等の審査<br>
              | ・その他、建築基準法関連の構造審査業務等

          tr.hpd-job-list__row
            th.hpd-job-list__header 応募資格
            td.hpd-job-list__cell
              | (以下の要件全てに該当すること)<br>
              | ・構造計算適合性判定資格<br>
              | ・一級建築士

          tr.hpd-job-list__row
            th.hpd-job-list__header 雇用条件、勤務形態等
            td.hpd-job-list__cell
              | ・正職員(一定の嘱託職員期間を経た後)または臨時雇用職員<br>
              | （構造計算適合性判定あるいは建築確認の構造審査の経験者及び若年齢者を優先します。）<br>
              | ・勤務時間　月～金(年末年始と祝祭日を除く)、定時9:00～17:30<br>
              | ・給与　経験、能力等を考慮の上、財団の規定によります。

          tr.hpd-job-list__row
            th.hpd-job-list__header 勤務地
            td.hpd-job-list__cell 大阪府大阪市中央区本町2-6-8　センバ・セントラルビル5F

          tr.hpd-job-list__row
            th.hpd-job-list__header 必要書類
            td.hpd-job-list__cell
              | (原則pdf等の電子データとしてください)<br>
              | ・履歴書、職務経歴書<br>
              | ・保有資格を証する書面

          tr.hpd-job-list__row
            th.hpd-job-list__header 選考方法
            td.hpd-job-list__cell
              | ・書類選考→大阪構造判定室で1次面接→財団本部(東京)における役員面接により決定します。<br>
              | ・なお、応募書類は返却いたしませんので、ご了承ください。

          tr.hpd-job-list__row
            th.hpd-job-list__header 問い合わせ先
            td.hpd-job-list__cell
              | *ご応募の方は、Eメールにて必要書類を添付の上、下記アドレスまで送信してください。<br>
              | 一般財団法人　ベターリビング　住宅・建築評価センター<br>
              | 構造判定部　採用係<br>
              | E-mail:
              a.hpd-job-list__link(href="mailto:contact-jkhc@cbl.or.jp") contact-jkhc@cbl.or.jp

  // Job detail section 2
  .hpd-job-list__detail(id="job2")
    .hpd-job-list__table-wrapper
      .hpd-job-list__detail-header
        span.hpd-job-list__bullet-black ■
        h3.hpd-job-list__detail-title 事務系職員の募集(急募)
        span.hpd-job-list__new-label New!!
      table.hpd-job-list__table
        tbody
          tr.hpd-job-list__row
            th.hpd-job-list__header 職務内容
            td.hpd-job-list__cell ・建築基準法に基づく建築確認検査業務に関する事務業務

          tr.hpd-job-list__row
            th.hpd-job-list__header 募集人数
            td.hpd-job-list__cell ・若干名

          tr.hpd-job-list__row
            th.hpd-job-list__header 応募資格
            td.hpd-job-list__cell ・募集職務関連の業務経験を有する方

          tr.hpd-job-list__row
            th.hpd-job-list__header 勤務地
            td.hpd-job-list__cell 東京都千代田区富士見2-7-2 一般財団法人ベターリビング本部

          tr.hpd-job-list__row
            th.hpd-job-list__header 雇用条件<br>勤務形態等
            td.hpd-job-list__cell
              | 正職員(一定の嘱託職員期間を経た後)<br>
              | 原則として、月～金9:30～18:00 再雇用勤務制度あり<br>
              | 土日祝日、年次有給休暇(所定日数通過後)、年末年始、夏季休暇など<br>
              | 給与は経験、能力等を考慮の上、財団の規定によります

          tr.hpd-job-list__row
            th.hpd-job-list__header 応募方法
            td.hpd-job-list__cell
              | 下記のメールアドレスに履歴書と職務経歴書(PDF)をお送りください<br>
              | 応募先メールアドレス　
              a.hpd-job-list__link(href="mailto:contact-jkhc@cbl.or.jp") contact-jkhc@cbl.or.jp

          tr.hpd-job-list__row
            th.hpd-job-list__header 選考方法
            td.hpd-job-list__cell
              | 書類選考の上、後日連絡をさせていただきます<br>
              | なお、応募書類は返却いたしませんのでご了承ください<br>
              | 書類選考通過の方には面接を行い最終決定します

          tr.hpd-job-list__row
            th.hpd-job-list__header 問い合わせ先
            td.hpd-job-list__cell
              | 応募にあたっての問合せは、メールにて受付けますので、下記メールアドレスへお問い合わせください<br>
              | E-mail:
              a.hpd-job-list__link(href="mailto:contact-jkhc@cbl.or.jp") contact-jkhc@cbl.or.jp

