@use '../../helpers/variables' as *;

.hpd-005-1 {
  margin-top: 40px;
  min-height: 100vh;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__main {
    flex: 1;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    gap: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__checklists {
    &-title {
      margin: 16px 20px -16px;
    }

    &-item:not(:first-child) {
      margin-top: 30px;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    gap: 4px;
    margin-top: 40px;

    &-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--gray-dark-color-700);
    }
  }
}
