@use '../../helpers/variables' as *;

.hpd-005-2 {
  margin-top: 40px;
  min-height: 100vh;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__main {
    flex: 1;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 20px;

    @media (min-width: 1024px) {
      margin: 40px 0;
      flex-direction: row;
      gap: 30px;
    }
  }

  &__breadcrumb {
    margin: 20px;
    border: 1px solid var(--data-table-border-color);
    border-radius: 3px;
    padding: 6px 28px;
    display: flex;
    gap: 20px;
    background-color: var(--sidebar-title-bg-color);
    font-weight: 500;
    font-size: 18px;

    &-link {
      color: var(--gray-dark-color-700);
      text-decoration: none;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    gap: 12px;
    margin-top: 60px;

    &-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--gray-dark-color-700);
    }
  }

  &__table {
    margin: 0 20px;
    border: 1px solid var(--data-table-border-color);
    border-radius: 3px;
    margin-bottom: 20px;

    &:has(+ .hpd-heading) {
      margin-bottom: 60px;
    }

    &-item {
      padding: 10px 10px 10px 28px;
      display: flex;
      gap: 20px;
      align-items: start;
      justify-content: space-between;

      &.is-primary {
        background-color: var(--category-table-header-bg);
      }

      &-title {
        font-size: 16px;
      }

      &-files {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        flex-shrink: 0;
        gap: 8px;

        .hpd-005-2__table-item-files-item:only-child {
          grid-column: span 2;
        }

        &-item {
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid var(--data-table-border-color);
          border-radius: 3px;
          padding: 0 4px;

          &-icon {
            width: 14px;
            height: 14px;
          }

          &-name {
            font-size: 12px;
            color: var(--gray-dark-color-700);
          }
        }
      }
    }

    &-item:not(:first-child) {
      border-top: 1px solid var(--data-table-border-color);
    }
  }
}
