- var heading = 'CASBEE建築評価認証'

.hpd-003
  .hpd-003__container
    include ../../blocks/breadcrum3
    include ../../blocks/banner
    .hpd-003__content
      include ../../blocks/sidebar2
      .hpd-003__main
        include ../../blocks/heading2

        .hpd-003__news
          h3.hpd-003__news-title CASBEE NEWS
          ul.hpd-003__news-list
            li.hpd-003__news-item
              time.hpd-003__news-date 令和7年9月8日
              span.hpd-003__news-text CASBEE建築評価認証を更新しました。
            li.hpd-003__news-item
              time.hpd-003__news-date 令和7年8月6日
              span.hpd-003__news-text CASBEE建築評価認証を更新しました。
            li.hpd-003__news-item
              time.hpd-003__news-date 令和7年7月4日
              span.hpd-003__news-text CASBEE建築評価認証を更新しました。
            li.hpd-003__news-item
              time.hpd-003__news-date 令和7年6月10日
              span.hpd-003__news-text CASBEE建築評価認証を更新しました。

        .hpd-003__tabs
          a.hpd-003__tab.is-active(href='#') 様式ダウンロード・評価ソフト
            span.hpd-003__tab-icon ▼
          a.hpd-003__tab(href='#') 手数料
            span.hpd-003__tab-icon ▼
          a.hpd-003__tab(href='#') 評価認証の流れ
            span.hpd-003__tab-icon ▼
          a.hpd-003__tab(href='#') 概要
            span.hpd-003__tab-icon ▼
          a.hpd-003__tab(href='#') 評価認証一覧
            span.hpd-003__tab-icon ▼

        .hpd-003__section
          h2.hpd-003__section-title 様式ダウンロード・評価ソフト

          .hpd-003__subsection
            h3.hpd-003__subsection-title ●要領・様式
            .hpd-003__download-table
              table.hpd-003__table
                tbody
                  tr.hpd-003__table-row--section
                    td.hpd-003__table-cell--label 要領
                    td.hpd-003__table-cell--content
                      a.hpd-003__download-link(href='#')
                        span.hpd-003__download-text CASBEE建築評価認証申請ガイド 【2022年6月6日更新】
                    td
                      img.hpd-003__download-icon(src='/images/pdf-icon.svg' alt='PDF')
                  tr.hpd-003__table-row--section
                    td.hpd-003__table-cell--label(rowspan='4') 様式
                    td.hpd-003__table-cell--content
                      a.hpd-003__download-link(href='#')
                        span.hpd-003__download-text CASBEE建築評価認証申請書兼掲載承諾書
                        span.hpd-003__download-form 様式-1
                    td
                      img.hpd-003__download-icon--word(src='/images/word-icon.svg' alt='Word')
                  tr.hpd-003__table-row--section
                    td.hpd-003__table-cell--content
                      a.hpd-003__download-link(href='#')
                        span.hpd-003__download-text CASBEE建築評価認証取り下げ届
                        span.hpd-003__download-form 様式-4
                    td
                      img.hpd-003__download-icon--word(src='/images/word-icon.svg' alt='Word')
                  tr.hpd-003__table-row--section
                    td.hpd-003__table-cell--content
                      a.hpd-003__download-link(href='#')
                        span.hpd-003__download-text CASBEE建築評価認証内容変更申告書
                        span.hpd-003__download-form 様式-5
                    td
                      img.hpd-003__download-icon--word(src='/images/word-icon.svg' alt='Word')
                  tr.hpd-003__table-row--section
                    td.hpd-003__table-cell--content
                      a.hpd-003__download-link(href='#')
                        span.hpd-003__download-text 委任状
                        span.hpd-003__download-form 様式-8
                    td
                      img.hpd-003__download-icon--word(src='/images/word-icon.svg' alt='Word')

          .hpd-003__subsection
            h3.hpd-003__subsection-title ●規程・約款
            .hpd-003__download-table
              table.hpd-003__table
                tbody
                  tr.hpd-003__table-row--section
                    td.hpd-003__table-cell--label 規程
                    td.hpd-003__table-cell--content
                      a.hpd-003__download-link(href='#')
                        span.hpd-003__download-text CASBEE評価認証業務規程 【2025年10月1日更新】
                    td
                      img.hpd-003__download-icon(src='/images/pdf-icon.svg' alt='PDF')
                  tr.hpd-003__table-row--section
                    td.hpd-003__table-cell--label 約款
                    td.hpd-003__table-cell--content
                      a.hpd-003__download-link(href='#')
                        span.hpd-003__download-text CASBEE評価認証業務約款 【2018年5月15日更新】
                    td
                      img.hpd-003__download-icon(src='/images/pdf-icon.svg' alt='PDF')

          .hpd-003__subsection
            h3.hpd-003__subsection-title ●CASBEE評価ソフトのダウンロード
            p.hpd-003__software-text
              | IBECホームページ
              a.hpd-003__software-link(href='https://www.ibec.or.jp/CASBEE/index.htm' target='_blank') (https://www.ibec.or.jp/CASBEE/index.htm)

        .hpd-003__section
          h2.hpd-003__section-title CASBEE建築評価認証手数料
          .hpd-003__section-main
            p.hpd-003__intro-text CASBEE建築評価認証に係る手数料は下表のとおりです。

            .hpd-003__fee-table
            h3.hpd-003__fee-table-title 表 CASBEE建築評価認証手数料表
            .hpd-003__table-wrapper
              table.hpd-003__fee-table-content
                thead
                  tr
                    th.hpd-003__fee-header 建築物の延べ面積
                    th.hpd-003__fee-header 用途
                    th.hpd-003__fee-header 金額(円)
                tbody
                  tr
                    td.hpd-003__fee-cell(rowspan='2') 2,000㎡未満
                    td.hpd-003__fee-cell 単一用途
                    td.hpd-003__fee-cell 440,000
                      span.hpd-003__fee-tax (400,000円)
                  tr
                    td.hpd-003__fee-cell 複合用途
                    td.hpd-003__fee-cell 2以上の用途から一用途毎に<br />上記金額へ111,000円(100,000円)を加算
                  tr
                    td.hpd-003__fee-cell(rowspan='2') 2,000㎡以上 <br />10,000㎡未満
                    td.hpd-003__fee-cell 単一用途
                    td.hpd-003__fee-cell 550,000
                      span.hpd-003__fee-tax (500,000円)
                  tr
                    td.hpd-003__fee-cell 複合用途
                    td.hpd-003__fee-cell 2以上の用途から一用途毎に<br />上記金額へ111,000円(100,000円)を加算
                  tr
                    td.hpd-003__fee-cell(rowspan='2') 10,000㎡以上 <br />50,000㎡未満
                    td.hpd-003__fee-cell 単一用途
                    td.hpd-003__fee-cell 660,000
                      span.hpd-003__fee-tax (600,000円)
                  tr
                    td.hpd-003__fee-cell 複合用途
                    td.hpd-003__fee-cell 2以上の用途から一用途毎に<br />上記金額へ220,000円(200,000円)を加算
                  tr
                    td.hpd-003__fee-cell(rowspan='2') 50,000㎡以上 <br />100,000㎡未満
                    td.hpd-003__fee-cell 単一用途
                    td.hpd-003__fee-cell 770,000
                      span.hpd-003__fee-tax (700,000円)
                  tr
                    td.hpd-003__fee-cell 複合用途
                    td.hpd-003__fee-cell 2以上の用途から一用途毎に<br />上記金額へ220,000円(200,000円)を加算
                  tr
                    td.hpd-003__fee-cell(rowspan='2') 100,000㎡以上
                    td.hpd-003__fee-cell 単一用途
                    td.hpd-003__fee-cell 880,000
                      span.hpd-003__fee-tax (800,000円)
                  tr
                    td.hpd-003__fee-cell 複合用途
                    td.hpd-003__fee-cell 2以上の用途から一用途毎に<br />上記金額へ220,000円(200,000円)を加算

            .hpd-003__notes
            p.hpd-003__note
              span.hpd-003__note-mark ※1
              | 当財団が評価認証を行った建築物を再度評価認証する場合(認証有効期限に達する物件を更新する場合も含む。)には、表中の消費税抜き金額の70%を評価認証料金とする。
            p.hpd-003__note
              span.hpd-003__note-mark ※2
              | 評価認証の審査に係る現地調査が生じた場合には、現地調査に掛かる交通費等を認証料金に加算する。
            p.hpd-003__note
              span.hpd-003__note-mark ※3
              | 同一用途の複数の建築物を一申請とする場合には、2以上の建築物から一建築物毎に表中の複合用途の場合の金額を加算する。この場合、複数の建築物の延べ面積の合計により、表中の建築物の延べ面積を区分する。
            p.hpd-003__note
              span.hpd-003__note-mark ※4
              | 当財団が評価認証書を再交付する場合の料金は、1通に付き11,000円(10,000円)とする。
            p.hpd-003__note
              span.hpd-003__note-mark ※5
              | 当財団が行う、他の評価・認証業務と併せて申請を行う場合など、審査業務が効率的に行えると判断した場合は割引を行う事ができる。
            p.hpd-003__note
              span.hpd-003__note-mark ※6
              | 認証書・認証票・評価結果を紙面にて交付する場合、1通につき2,200円(2,000円)を加算する。
            p.hpd-003__note
              span.hpd-003__note-mark ※7
              | 提出図書を紙面にて引き受ける場合、一の申請につき2,200円(2,000円)を加算する。
            p.hpd-003__note
              span.hpd-003__note-mark ※8
              | CASBEE-改修で改修前の評価認証を併せて行う場合には、表中の単一用途の場合の金額に、0.7を乗じた金額を加算する。
            p.hpd-003__note
              span.hpd-003__note-mark ※9
              | 居室がない工場の用途の場合は、手数料から110,000円(100,000円)を減額する。

        .hpd-003__section
          h2.hpd-003__section-title CASBEE建築評価認証の流れ
          .hpd-003__section-main
            p.hpd-003__flow-subtitle 事前相談から評価認証の公表までの標準的な手続きの流れは以下の通りです。

            .hpd-003__flowchart
              .hpd-003__flow-step
                .hpd-003__flow-wrapper

                  .hpd-003__flow-box
                    .hpd-003__flow-content
                      .hpd-003__flow-item
                        h3.hpd-003__flow-title.is-active 事前相談
                        .hpd-003__flow-arrow-line
                      p.hpd-003__flow-description ベターリビング住宅性能評価部の担当者が、申請対象建築物の概要、適用範囲、スケジュール等を確認します。

              .hpd-003__flow-step
                .hpd-003__flow-wrapper
                  .hpd-003__flow-box
                    .hpd-003__flow-content
                      .hpd-003__flow-item
                        h3.hpd-003__flow-title 申請・引受
                        .hpd-003__flow-arrow-line
                      p.hpd-003__flow-description
                        | 申請に際しては、本ガイドの「3．申請図書等作成」を参者に申請に必要な申請図書等をとりまとめていだだきます。<br />
                        | 申請図書等は、原則としてご持参頂き、記載漏れ・不足等がないことをベターリビングの担当者が確認し、受付を行います。<br />
                        | 受付後、引受承諾書、CASBEE評価認証業務約款及び請求書を申請者に発行し、業務の引受を行います。<br />
                        | 申請は随時受付を行っています。

              .hpd-003__flow-step
                .hpd-003__flow-wrapper
                  .hpd-003__flow-box
                    .hpd-003__flow-content
                      .hpd-003__flow-item
                        h3.hpd-003__flow-title 審査
                        .hpd-003__flow-arrow-line
                      p.hpd-003__flow-description
                        | 審査は、CASBEE評価マニュアルに従ってベターリビングのCASBEE評価員が原則、書類審査により行います。<br />
                        | 審査において生じた質疑は指摘事項等回答書にとりまとめ、申請者に対して原則、E-mailにて通知します。<br />
                        | 質疑に対する是正・回答は速やかに回答書として作成し、担当者へご提出ください。質疑により申請図書等の差替えが必要となった場合には、差替図書 （正本1 部、副本2部）の提出も併せて行ってください。<br />
                        | なお、必要に応じて申請者へのヒアリング、現地調査等を実施します。


              .hpd-003__flow-step
                .hpd-003__flow-wrapper
                  .hpd-003__flow-box
                    .hpd-003__flow-content
                      .hpd-003__flow-item
                        h3.hpd-003__flow-title 評価認証書交付
                        .hpd-003__flow-arrow-line
                      p.hpd-003__flow-description 評価が完了すると、CASBEE評価認証書が交付されます。同時に、申請書類の写し（ベターリビングが最終版として押印したもの）が返却されます。

              .hpd-003__flow-step
                .hpd-003__flow-wrapper
                  .hpd-003__flow-box
                    .hpd-003__flow-content
                      .hpd-003__flow-item
                        h3.hpd-003__flow-title 評価認証の公表
                        .hpd-003__flow-arrow-line.is-last
                      .hpd-003__flow-content-inner
                        p.hpd-003__flow-description 認証書交付後、申請者の公表意思を確認します。評価認証の事実がベターリビングのホームページで公表されます。申請者の要望により、評価結果は一般社団法人日本サステナブル建築協会（JSBC）のホームページでも公表されます。
                        .hpd-003__flow-publish
                          p.hpd-003__flow-publish-title 公表内容は以下の通りです。
                          ul.hpd-003__flow-publish-list
                            li.hpd-003__flow-publish-item ①評価認証番号
                            li.hpd-003__flow-publish-item ②評価認証日
                            li.hpd-003__flow-publish-item ③建築物の名称
                            li.hpd-003__flow-publish-item ④申請者の名称
                            li.hpd-003__flow-publish-item ⑤設計者/施工者の名称
                            li.hpd-003__flow-publish-item ⑥建設地
                            li.hpd-003__flow-publish-item ⑦建物用途・規模
                            li.hpd-003__flow-publish-item ⑧評価ツール・評価段階
                            li.hpd-003__flow-publish-item ⑨評価結果
                            li.hpd-003__flow-publish-item ⑩竣工(予定)日
                            li.hpd-003__flow-publish-item ⑪有効期限

        .hpd-003__section
          h2.hpd-003__section-title 概要
          .hpd-003__section-main
            p.hpd-003__overview-intro ベターリビングは、一般財団法人建築環境・省エネルギー機構（以下「IBEC」といいます。）から、以下のとおりCASBEE※評価認証機関として認定を受け、CASBEEによる建築物の総合的環境性能評価に関する評価認証を行っています。

            .hpd-003__overview-table
              table.hpd-003__overview-table-content
                tbody
                  tr
                    td.hpd-003__overview-label 認定番号
                    td.hpd-003__overview-value IBEC機関認定第3号
                  tr
                    td.hpd-003__overview-label 区分
                    td.hpd-003__overview-value
                      | CASBEE評価認証機関認定制度要綱第３条第一号（CASBEE戸建‐新築等）、同第二号（CASBEE-新<br />
                      | 築等）、同第三号（CASBEE不動産））、同第四号（CASBEE‐ウェルネスオフィス）に定める区分<br />
                  tr
                    td.hpd-003__overview-label 対象地区
                    td.hpd-003__overview-value ※第二号は原則300㎡以上のものに限る
                  tr
                    td.hpd-003__overview-label 期間
                    td.hpd-003__overview-value
                      | 日本全域<br />
                      | 自　２０２３年 ３月１日

            .hpd-003__overview-section
              p.hpd-003__overview-text
                | CASBEE評価認証は、CASBEEの適正な運用・普及及び評価結果を第三者に提供する場合の信頼性や透明性の確保のために、ベターリビング等のIBECが認定した第三者機関がCASBEEによる建築物の総合的環境性能評価の適性を認証する制度です。

            .hpd-003__overview-section
              p.hpd-003__overview-text
                | CASBEE評価認証に係る第三者評価を行い、CASBEEによる建築物の総合的環境性能評価が適切であると評価された建築物は、環境品質（Q）と環境負荷（L）とのバランスによって５段階（「S」「A」「B＋」「B-」「C」）に格付けされ、認証マークを付したCASBEE評価認証書が交付されます。

            .hpd-003__overview-section.is-background
              .hpd-003__overview-casbee
                p.hpd-003__overview-text
                  | ※CASBEEとは<br />
                  | CASBEEとは、建築物を環境性能で格付けする手法で、省エネや省資源・リサイクル性能といった環境負荷削減の側面はもとより、室内の快適性や景観への配慮といった環境品質・性能の向上といった側面も含めた建築物の環境性能を総合的に評価するシステムです。<br />
                  | CASBEEの開発は、国土交通省が主導し、IBECを中心に進められており、システムの普及に向けて、国においては、地球温暖化対策の一環として国土交通省環境行動計画等に位置付けられ、また複数の地方公共団体においては、環境対策の一環として条例や要綱によるCASBEEを活用した「建築物の環境配慮届出制度」が導入されるなどの取り組みが行われています。

        .hpd-003__section.no-border
          h2.hpd-003__section-title CASBEE建築評価認証一覧
          .hpd-003__section-main
            p.hpd-003__list-intro 当財団が認証したCASBEE建築の一覧は下表の通りです。

            .hpd-003__list-controls
              .hpd-003__list-per-page
                a.hpd-003__list-per-page-link.is-active(href='#') 10
                span.hpd-003__list-per-page-separator |
                a.hpd-003__list-per-page-link(href='#') 20
                span.hpd-003__list-per-page-separator |
                a.hpd-003__list-per-page-link(href='#') 40

            .hpd-003__list-table-wrapper
              table.hpd-003__list-table
                thead
                  tr
                    th.hpd-003__list-header 評価認証番号
                    th.hpd-003__list-header 建物の名称
                    th.hpd-003__list-header 認証日
                    th.hpd-003__list-header 評価認証建物の概要
                    th.hpd-003__list-header 評価<br />結果
                tbody
                  tr
                    td.hpd-003__list-cell CBL-CAS建築-0036-25
                    td.hpd-003__list-cell GLP境古河Iプロジェクト
                    td.hpd-003__list-cell 2025/05/21
                    td.hpd-003__list-cell
                      .hpd-003__list-detail
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 申請者：
                          | 日本GLP株式会社
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 設計者：
                          | (申請者の希望により非公開)
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 施工者：
                          | (申請者の希望により非公開)
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 建設地：
                          | 茨城県猿島郡境町
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 用途 / 規模：
                          | 倉庫業を営む倉庫 / 83936.72m2
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 評価ツール / 段階：
                          | CASBEE-建築 (新築) 2021年SDGs対応版 / 竣工段階
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label ランク：
                          | Aランク
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 竣工日：
                          | 2025/5/22
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 有効期限：
                          | 2028/5/21
                    td.hpd-003__list-cell
                      a.hpd-003__list-pdf-link(href='#')
                        img.hpd-003__list-pdf-icon(src='/images/pdf-icon.svg' alt='PDF')
                  tr
                    td.hpd-003__list-cell CBL-CAS建築-0034-25
                    td.hpd-003__list-cell リビオメゾン東北沢
                    td.hpd-003__list-cell 2025/05/15
                    td.hpd-003__list-cell
                      .hpd-003__list-detail
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 申請者：
                          | 日鉄興和不動産株式会社
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 設計者：
                          | (申請者の希望により非公開)
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 施工者：
                          | (申請者の希望により非公開)
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 建設地：
                          | 東京都世田谷区北沢1丁目19番17号
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 用途 / 規模：
                          | 集合住宅 / 1486.22m2
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 評価ツール / 段階：
                          | CASBEE-建築 (新築) 2021年SDGs対応版 / 実施設計段階
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label ランク：
                          | Aランク
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 竣工日：
                          | 2025/6/11
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 有効期限：
                          | 2028/6/10
                    td.hpd-003__list-cell
                      a.hpd-003__list-pdf-link(href='#')
                        img.hpd-003__list-pdf-icon(src='/images/pdf-icon.svg' alt='PDF')
                  tr
                    td.hpd-003__list-cell CBL-CAS建築-0033-25
                    td.hpd-003__list-cell ザ・ライオンズフォーシア外神田
                    td.hpd-003__list-cell 2025/05/01
                    td.hpd-003__list-cell
                      .hpd-003__list-detail
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 申請者：
                          | 株式会社大京
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 設計者：
                          | (申請者の希望により非公開)
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 施工者：
                          | (申請者の希望により非公開)
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 建設地：
                          | 東京都千代田区
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 用途 / 規模：
                          | 集合住宅 / 1699.28m2
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 評価ツール / 段階：
                          | CASBEE-建築 (新築) 2021年SDGs対応版 / 実施設計段階
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label ランク：
                          | B+ランク
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 竣工日：
                          | 2025/5/15
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 有効期限：
                          | 2028/5/14
                    td.hpd-003__list-cell
                      a.hpd-003__list-pdf-link(href='#')
                        img.hpd-003__list-pdf-icon(src='/images/pdf-icon.svg' alt='PDF')

            .hpd-003__list-table-wrapper
              table.hpd-003__list-table
                thead
                  tr
                    th.hpd-003__list-header 評価認証番号
                    th.hpd-003__list-header 建物の名称
                    th.hpd-003__list-header 認証日
                    th.hpd-003__list-header 評価認証建物の概要
                    th.hpd-003__list-header 評価<br />結果
                tbody
                  tr
                    td.hpd-003__list-cell CBL-CAS建築-0036-25
                    td.hpd-003__list-cell GLP境古河Iプロジェクト
                    td.hpd-003__list-cell 2025/05/21
                    td.hpd-003__list-cell.is-expand
                      .hpd-003__list-detail
                        .hpd-003__list-detail-plus +
                    td.hpd-003__list-cell
                      a.hpd-003__list-pdf-link(href='#')
                        img.hpd-003__list-pdf-icon(src='/images/pdf-icon.svg' alt='PDF')
                  tr
                    td.hpd-003__list-cell CBL-CAS建築-0034-25
                    td.hpd-003__list-cell リビオメゾン東北沢
                    td.hpd-003__list-cell 2025/05/15
                    td.hpd-003__list-cell
                      .hpd-003__list-detail
                        .hpd-003__list-detail-minus -
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 申請者：
                          | 日鉄興和不動産株式会社
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 設計者：
                          | (申請者の希望により非公開)
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 施工者：
                          | (申請者の希望により非公開)
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 建設地：
                          | 東京都世田谷区北沢1丁目19番17号
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 用途 / 規模：
                          | 集合住宅 / 1486.22m2
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 評価ツール / 段階：
                          | CASBEE-建築 (新築) 2021年SDGs対応版 / 実施設計段階
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label ランク：
                          | Aランク
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 竣工日：
                          | 2025/6/11
                        p.hpd-003__list-detail-item
                          span.hpd-003__list-detail-label 有効期限：
                          | 2028/6/10
                    td.hpd-003__list-cell
                      a.hpd-003__list-pdf-link(href='#')
                        img.hpd-003__list-pdf-icon(src='/images/pdf-icon.svg' alt='PDF')
                  tr
                    td.hpd-003__list-cell CBL-CAS建築-0033-25
                    td.hpd-003__list-cell ザ・ライオンズフォーシア外神田
                    td.hpd-003__list-cell 2025/05/01
                    td.hpd-003__list-cell.is-expand
                      .hpd-003__list-detail
                        .hpd-003__list-detail-plus +

                    td.hpd-003__list-cell
                      a.hpd-003__list-pdf-link(href='#')
                        img.hpd-003__list-pdf-icon(src='/images/pdf-icon.svg' alt='PDF')

            .hpd-003__list-pagination
              a.hpd-003__list-pagination-prev(href='#') &lt;
              ul.hpd-003__list-pagination-list
                li.hpd-003__list-pagination-item
                  a.hpd-003__list-pagination-link.is-active(href='#') 1
                li.hpd-003__list-pagination-item
                  a.hpd-003__list-pagination-link(href='#') 2
                li.hpd-003__list-pagination-item
                  a.hpd-003__list-pagination-link(href='#') 3
                li.hpd-003__list-pagination-item
                  a.hpd-003__list-pagination-link(href='#') 4
                li.hpd-003__list-pagination-item
                  a.hpd-003__list-pagination-link(href='#') 5
                li.hpd-003__list-pagination-item
                  span.hpd-003__list-pagination-dots ...
                li.hpd-003__list-pagination-item
                  a.hpd-003__list-pagination-link(href='#') 54
              a.hpd-003__list-pagination-next(href='#') &gt;

            .hpd-003__list-past
              a.hpd-003__list-past-link(href='#') 過去の認証一覧 (2013年以前)

            .hpd-003__notes-section
              h3.hpd-003__notes-title 注意事項
              ol.hpd-003__notes-list
                li.hpd-003__notes-item
                  | (１) 本表の掲載内容は、評価認証を行った時点での情報です。その後、申請された内容等が変更される場合がありますが、評価認証後の変更は本表には反映されていません。
                li.hpd-003__notes-item
                  | (２) 評価認証を行った建築物に関する具体の内容に関するお問い合わせには回答致しかねますので、詳細につきましては 「申請者」に直接お問い合わせ下さい。
                li.hpd-003__notes-item
                  | (３) 本表は、申請者の依頼により認証した内容を掲載しますので、一般財団法人ベターリビングが行った評価認証結果を全て掲載するものではありません。
                li.hpd-003__notes-item
                  | (４)「CASBEE-新築」による評価の有効期間は竣工または竣工予定日から３年間です。但し、有効期間内であっても当該建築物が撤去された場合やCASBEE評価認証に影響する設計変更が行われた場合には、評価認証は無効となります。
                li.hpd-003__notes-item
                  | (５)「CASBEE-既存」による評価の有効期間は評価認証日から５年間です。


