@use '../../helpers/variables' as *;

.hpd-main-5 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
  }

  &__content {
    background: #fff;
    flex-grow: 1;
    display: flex;
    align-items: center;
    min-height: 360px;

    @media (max-width: 767px) {
      padding: 40px 0 0;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 24px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }

    > span {
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        border-right: 2px solid #a078a0;
        border-top: 2px solid #a078a0;
        transform: rotate(45deg);
        margin-right: 20px;
      }
    }
  }

  &__contact-section {
    margin-top: auto;
  }
}
