@use '../../helpers/variables' as *;

.hpd-010 {
  margin-top: 40px;
  margin-bottom: 80px;
  min-height: 100vh;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__main {
    flex: 1;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__heading {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 3px;
    background-color: var(--category-table-header-bg);
    border: 1px solid var(--sidebar-border-color);
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    color: var(--gray-dark-color-700);
    padding-left: 20px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    transform: rotate(90deg);
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--gray-dark-color-700);
  }
}
