@use '../../helpers/variables' as *;

.hpd-008 {
  margin-top: 40px;
  min-height: 100vh;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__main {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    gap: 20px;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__text {
    font-size: 16px;
    color: var(--gray-dark-color-700);
    line-height: 1.8;
    margin: 10px 0 20px;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    transform: rotate(90deg);
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--gray-dark-color-700);
  }
}
