- var heading = '認定基準、試験方法書、自己チェックリスト等'
- var title = 'エレベーター'

.hpd-004-2
  .hpd-004-2__container
    include ../../blocks/breadcrum
    include ../../blocks/banner
    .hpd-004-2__content
      include ../../blocks/sidebar
      .hpd-004-2__main
        include ../../blocks/heading
        include ./category-title
        include ./data-table
