.hpd-data-table
  .hpd-data-table__wrapper
    table.hpd-data-table__table
      thead.hpd-data-table__thead
        tr.hpd-data-table__row
          th.hpd-data-table__header 品目名
          th.hpd-data-table__header 記号
          th.hpd-data-table__header 一般型<br>自由<br>提案型
          th.hpd-data-table__header BL-bs<br>部品
          th.hpd-data-table__header 基準公表日
          th.hpd-data-table__header 認定<br>基準
          th.hpd-data-table__header 試験<br>方法書
          th.hpd-data-table__header 自己<br>チェック<br>リスト
          th.hpd-data-table__header 申請<br>型式<br>一覧

      tbody.hpd-data-table__tbody
        tr.hpd-data-table__row
          td.hpd-data-table__cell 玄関ドア
          td.hpd-data-table__cell FD
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge.is-secondary 一般
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge BL-bs
          td.hpd-data-table__cell 2025.4.21
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/xlxs-icon.svg" alt="Excel")

        tr.hpd-data-table__row
          td.hpd-data-table__cell 改修用玄関ドア　※1
          td.hpd-data-table__cell FDR
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge.is-secondary 一般
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge BL-bs
          td.hpd-data-table__cell 2025.4.21
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/xlxs-icon.svg" alt="Excel")

        tr.hpd-data-table__row
          td.hpd-data-table__cell ドア・クローザ
          td.hpd-data-table__cell DC
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge.is-secondary 一般
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge BL-bs
          td.hpd-data-table__cell 2023.4.21
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/xlxs-icon.svg" alt="Excel")

        tr.hpd-data-table__row
          td.hpd-data-table__cell 玄関ドア用錠前
          td.hpd-data-table__cell DL
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge.is-secondary 一般
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge BL-bs
          td.hpd-data-table__cell 2023.4.21
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/xlxs-icon.svg" alt="Excel")

        tr.hpd-data-table__row
          td.hpd-data-table__cell 宅配ボックス
          td.hpd-data-table__cell LD
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge.is-secondary 一般
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge BL-bs
          td.hpd-data-table__cell 2024.9.2
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/xlxs-icon.svg" alt="Excel")

        tr.hpd-data-table__row
          td.hpd-data-table__cell 郵便受箱
          td.hpd-data-table__cell MB
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge.is-secondary 一般
          td.hpd-data-table__cell
            .hpd-data-table__icon-badge BL-bs
          td.hpd-data-table__cell 2024.12.16
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/xlxs-icon.svg" alt="Excel")

        tr.hpd-data-table__row
          td.hpd-data-table__cell プレスドア専用改修用扉
          td.hpd-data-table__cell RD
          td.hpd-data-table__cell
          td.hpd-data-table__cell
          td.hpd-data-table__cell 2024.8.1
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/pdf-icon.svg" alt="PDF")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-data-table__cell
            a.hpd-data-table__link(href="#")
              img.hpd-data-table__icon(src="./images/xlxs-icon.svg" alt="Excel")

  .hpd-data-table__note
    p.hpd-data-table__note-text ※1
      a.hpd-data-table__note-link(href="#") 改修用玄関ドア施工要領書はこちら

