- var heading = '認定申請書類ダウンロード'

.hpd-007
  .hpd-007__container
    include ../../blocks/breadcrum
    include ../../blocks/banner
    .hpd-007__content
      include ../../blocks/sidebar
      .hpd-007__main
        include ../../blocks/heading
        include ./download-table
