- var heading = '認定申請書類ダウンロード'

.hpd-007
  .hpd-007__container
    +breadcrumb3([{title: 'HOME', link: '/'}, {title: '部品（BL部品）等（住宅部品・関連事業推進本部）', link: '#'}, {current: 'JIS製品認証'}])
    include ../../blocks/banner
    .hpd-007__content
      include ../../blocks/sidebar
      .hpd-007__main
        include ../../blocks/heading
        include ./download-table
