.hpd-download-table
  .hpd-download-table__top
    h3.hpd-download-table__title 電子データ確認表(申請者用)
    span.hpd-download-table__link-new ＜新規申請＞

  .hpd-download-table__wrapper
    table.hpd-download-table__table
      colgroup
        col(style="width: 40px;")
        col(style="width: 300px;")
        col(style="width: 40px;")
        col(style="width: 50px;")
        col(style="width: 50px;")
        col(style="width: 35px;")
        col(style="width: 55px;")
        col(style="width: auto;")
      thead.hpd-download-table__thead
        tr.hpd-download-table__row
          th.hpd-download-table__header(rowspan="2")
          th.hpd-download-table__header.hpd-download-table__header--left(rowspan="2") 提出書類
          th.hpd-download-table__header(rowspan="2") 通常
          th.hpd-download-table__header(rowspan="2") OEM<br>一括
          th.hpd-download-table__header(rowspan="2") OEM<br>販売
          th.hpd-download-table__header(colspan="2") ダウン<br>ロード
          th.hpd-download-table__header(rowspan="2") フォルダ<br>番号
          th.hpd-download-table__header(rowspan="2") 備考

      tbody.hpd-download-table__tbody
        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell 1
          td.hpd-download-table__cell.hpd-download-table__cell--left 優良住宅部品認定申請書
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0100
          td.hpd-download-table__cell.hpd-download-table__cell--left 別記様式第2

        tr.hpd-download-table__row
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left 自由提案型/優良住宅部品認定申請書
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0100
          td.hpd-download-table__cell.hpd-download-table__cell--left 別記様式第3

        tr.hpd-download-table__row.hpd-download-table__row--section
          td.hpd-download-table__cell.hpd-download-table__cell--number 2
          td.hpd-download-table__cell
          td.hpd-download-table__cell
          td.hpd-download-table__cell
          td.hpd-download-table__cell
          td.hpd-download-table__cell(colspan="2")
          td.hpd-download-table__cell
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--section
          td.hpd-download-table__cell.hpd-download-table__cell--number 3
          td.hpd-download-table__cell
          td.hpd-download-table__cell
          td.hpd-download-table__cell
          td.hpd-download-table__cell
          td.hpd-download-table__cell(colspan="2")
          td.hpd-download-table__cell
          td.hpd-download-table__cell

        tr.hpd-download-table__row
          td.hpd-download-table__cell 4
          td.hpd-download-table__cell.hpd-download-table__cell--left 申請企業概要(企業、組織、沿革)
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0200
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式1

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell 5
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考資料
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell 0300
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (1) 申請部品のカラー写真<br>(デジカメプリントでも可)
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ★
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ★
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ★
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0310
          td.hpd-download-table__cell.hpd-download-table__cell--left 申請部品の特徴がよくわかる写真

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (2) 申請部品の情報提供ツール<br>(カタログ、パンフレット、ホームページなど)
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0320
          td.hpd-download-table__cell.hpd-download-table__cell--left 現物、見本、写しなど

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (3) 申請部品に関する商標一覧
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0330
          td.hpd-download-table__cell.hpd-download-table__cell--left 申請部品本体に貼付されている商標の写し

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (4) BL部品表示・管理体制説明資料
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0340
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式2

        tr.hpd-download-table__row
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (5) 機種別工場出荷価格調査票
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0350
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式3

        tr.hpd-download-table__row
          td.hpd-download-table__cell 6
          td.hpd-download-table__cell.hpd-download-table__cell--left OEM一括申請に係る相手先ブランドの概要
          td.hpd-download-table__cell —
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0400
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式4

        tr.hpd-download-table__row
          td.hpd-download-table__cell 7
          td.hpd-download-table__cell.hpd-download-table__cell--left OEM供給に関する証明書
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell —
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0500
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式5

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell 8
          td.hpd-download-table__cell.hpd-download-table__cell--left 評価用図書
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left A.評価と認定を一括して行う場合
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (1)BL認定基準適合確認自己チェックリスト
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon-link(src="./images/link-icon.svg" alt="Link")
          td.hpd-download-table__cell 0610
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (2)設計図書等
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number(colspan="2")
          td.hpd-download-table__cell 0620
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 1) 申請型式一覧
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon-link(src="./images/link-icon.svg" alt="Link")
          td.hpd-download-table__cell 0621
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 2) 構成一覧
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0622
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 3) 部品・部材一覧
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0623
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 4) 図面等
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0624
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 5) その他
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0625
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (3)住宅部品の性能に関する試験報告書
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell 0630
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 1) 試験結果一覧
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0631
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式7

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 2) 試験報告書
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0632
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式8

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 3) 試験品質調査票
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ▲
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon(src="./images/word-icon.svg" alt="Word")
          td.hpd-download-table__cell 0633
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式9

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (4)環境対策に関する資料
          td.hpd-download-table__cell ●
          td.hpd-download-table__cell ●
          td.hpd-download-table__cell ●
          td.hpd-download-table__cell(colspan="2") ―
          td.hpd-download-table__cell 0640
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (5)供給体制に関する資料
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell 0650
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 1) 工場及び作業工程
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0651
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 2) 品質管理
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0652
          td.hpd-download-table__cell.hpd-download-table__cell--left ISO 9001の登録証など

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 3) 品質保持に必要な項目
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol △
          td.hpd-download-table__cell —
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0653
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 4) 品質保証
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0654
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 5) 製造・輸送・施工に対する責任体制
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0655
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 6) 流通販売体制
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0656
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (6)維持管理体制に関する資料
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell 0660
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 1) 取り替えパーツの種類及び保管場所
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0661
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 2) 苦情処理手順（フローチャート等を含む）
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0662
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 3) ユーザーサービス窓口一覧
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0663
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 4) その他維持管理体制に関する資料
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0664
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (7)情報提供に関する資料
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell 0670
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 1) 取扱説明書
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0671
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 2) 施工説明書
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0672
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--subindent 3) その他の情報提供に用いている資料
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0673
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left B.指定評価機関で適合性の評価を受けた場合
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row.hpd-download-table__cell--left.hpd-download-table__cell--indent.hpd-download-table__row--dashed
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent 1 申請型式一覧
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0621
          td.hpd-download-table__cell

        tr.hpd-download-table__row.hpd-download-table__cell--left.hpd-download-table__cell--indent
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent 2) 評価書
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell
            span.hpd-download-table__symbol ◎
          td.hpd-download-table__cell(colspan="2") —
          td.hpd-download-table__cell 0680
          td.hpd-download-table__cell.hpd-download-table__cell--left 指定評価機関が発行したもの

        tr.hpd-download-table__row.hpd-download-table__row--dashed
          td.hpd-download-table__cell 9
          td.hpd-download-table__cell.hpd-download-table__cell--left その他
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell(colspan="2").hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number
          td.hpd-download-table__cell.hpd-download-table__cell--number

        tr.hpd-download-table__row
          td.hpd-download-table__cell
          td.hpd-download-table__cell.hpd-download-table__cell--left.hpd-download-table__cell--indent (1)委任状
          td.hpd-download-table__cell.hpd-download-table__cell--number
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell.hpd-download-table__cell--number
            span.hpd-download-table__symbol ―
          td.hpd-download-table__cell.hpd-download-table__cell--number
            span.hpd-download-table__symbol ●
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon-link(src="./images/word-icon.svg" alt="Link")
          td.hpd-download-table__cell 0700
          td.hpd-download-table__cell.hpd-download-table__cell--left 参考書式６

        tr.hpd-download-table__row
          td.hpd-download-table__cell
          td.hpd-download-table__cell(colspan="4").hpd-download-table__cell--left.hpd-download-table__cell--indent 一括ダウンロード
          td.hpd-download-table__cell(colspan="2")
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon-link(src="./images/zip-icon.svg" alt="Link")
          td.hpd-download-table__cell(colspan="2")

        tr.hpd-download-table__row
          td.hpd-download-table__cell
          td.hpd-download-table__cell(colspan="8").hpd-download-table__cell--left
            span.hpd-download-table__link-text 電子データ収納フォルダ（申請者用) （zip)
            a.hpd-download-table__download-link(href="#")
              img.hpd-download-table__icon-link(src="./images/zip-icon.svg" alt="Link")
            span.hpd-download-table__note ※「電子データ収納フォルダ（申請者用）」に提出書類のデータを収納してください

  .hpd-download-table__legend
    p.hpd-download-table__legend-text
      | ◎:必須 ●:該当する場合 △:代表申請者(製造者)のみ必須 ▲:代表申請者(製造者)が該当する場合 ＊:要請があった場合に提出 —:不要

  .hpd-download-table__legend-note
    a.hpd-download-table__legend-note-link(href="#")
      | 申請書類（Excel）ダウンロード
