@use '../helpers/variables' as *;

.hpd-banner {
  margin-top: 20px;

  &__container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)
      );
    }

    &-src {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: baseline;

    &-title {
      font-size: 20px;
      color: var(--black-color);
      margin-left: 20px;

      @media (min-width: 768px) {
        margin-left: 50px;
        font-size: 30px;
      }
    }

    &-subtitle {
      font-size: 18px;
      color: var(--black-color);
    }
  }
}
