@use '../helpers/variables' as *;

.hpd-category-title {
  margin: 20px;
  line-height: 1.5;
  border: 1px solid var(--category-table-border-color);
  height: 40px;
  border-radius: 3px;
  background-color: var(--category-table-header-bg);

  &__text {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-dark-color-700);
    margin: 0;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
  }
}
