@use '../helpers/variables' as *;

.hpd-heading {
  height: 40px;
  border-radius: 3px;
  background-color: var(--breadcrumb-bg-color);

  &__title {
    font-size: 18px;
    color: var(--white-color);
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
  }

  &.is-yellow {
    background-color: #faebcc;

    .hpd-heading__title {
      color: #8a6d3b;
    }
  }
}
