@use '../helpers/variables' as *;

/* JIS Table component */
.hpd-jis-table {
  margin: 20px 0;
  background-color: var(--white-color);

  @media (min-width: 768px) {
    margin: 20px;
  }

  &__date {
    text-align: right;
    font-size: 14px;
    color: var(--gray-dark-color-700);
    margin-bottom: 10px;
    padding-right: 10px;
  }

  &__wrapper {
    overflow-x: auto;
    border: 1px solid var(--data-table-border-color);
    margin-bottom: 0;
    border-radius: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white-color);
  }

  &__thead {
    background-color: var(--data-table-header-bg);

    &.is-hidden {
      visibility: collapse;
    }
  }

  &__row {
    border-bottom: 1px solid var(--data-table-border-color);

    &:last-child {
      border-bottom: none;
    }
  }

  &__header {
    padding: 6px 8px;
    text-align: left;
    font-size: 14px;
    color: var(--data-table-header-color);
    border-right: 1px solid var(--data-table-border-color);
    vertical-align: middle;
    line-height: 1.2;
    border-bottom: 1px solid var(--data-table-border-color);

    &:last-child {
      border-right: none;
    }

    &:first-child {
      min-width: 40px;
      width: 40px;
    }

    &:nth-child(2) {
      min-width: 100px;
    }

    &:nth-child(3) {
      min-width: 120px;
    }

    &:nth-child(4) {
      min-width: 210px;
    }

    &:nth-child(5) {
      min-width: 120px;
    }

    &:nth-child(6) {
      min-width: 230px;
    }

    &:nth-child(7) {
      min-width: 40px;
      width: 40px;
      white-space: nowrap;
    }
  }

  &__cell {
    padding: 12px 8px;
    text-align: left;
    font-size: 13px;
    color: var(--data-table-cell-color);
    border-right: 1px solid var(--data-table-border-color);
    vertical-align: middle;
    line-height: 1.5;

    &:last-child {
      border-right: none;
    }

    &--number {
      text-align: center;
      font-weight: 400;
    }

    &:nth-child(4) {
      text-align: left;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icon {
    width: 20px;
    height: auto;
    display: block;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    transform: rotate(90deg);
  }

  &__dots {
    font-size: 30px;
    color: #000;
    letter-spacing: -12px;
    font-weight: bold;
  }
}
