@use '../helpers/variables' as *;

/* Recruitment component */
.hpd-recruitment {
  margin: 30px 0;

  &__section {
    margin-bottom: 40px;
    margin-left: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
  }

  &__icon {
    width: 10px;
    height: 18px;
    flex-shrink: 0;
  }

  &__title {
    font-size: 18px;
    color: var(--gray-dark-color-700);
    margin: 0;
    line-height: 1.4;
  }

  &__content {
    padding-left: 22px;
  }

  &__item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 16px;
    color: var(--gray-dark-color-700);
    line-height: 1.6;
  }

  &__text {
    font-size: 16px;
    color: var(--gray-dark-color-700);
    line-height: 1.8;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__indent {
    padding-left: 20px;
    margin: 5px 0;
  }

  &__note {
    margin-top: 10px;
    padding-left: 0;
  }

  &__subsection {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-size: 16px;
    color: var(--gray-dark-color-700);
    margin: 0 0 15px 0;
    line-height: 1.6;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 20px;
  }
}
