.hpd-contact-list
  .hpd-contact-list__container
    include ../../blocks/breadcrum2

  .hpd-contact-list__content
    .hpd-contact-list__container

      .hpd-contact-list__header
        img.hpd-contact-list__icon(src='/images/phone-2.png' alt='お問い合わせ')
        h1.hpd-contact-list__title お問い合わせ先一覧

      .hpd-contact-list__inner
        .hpd-contact-list__section
          h2.hpd-contact-list__section-title 優良住宅部品（BL部品）等
          .hpd-contact-list__table-wrapper
            table.hpd-contact-list__table
              thead
                tr
                  th.hpd-contact-list__th 主な取扱内容
                  th.hpd-contact-list__th 担当部署
                  th.hpd-contact-list__th 電話番号
              tbody
                tr
                  td.hpd-contact-list__td BL部品でお困りの場合
                  td.hpd-contact-list__td.is-border カスタマーサービス部
                  td.hpd-contact-list__td 03-5211-0680
                tr.is-gray
                  td.hpd-contact-list__td BL認定基準
                  td.hpd-contact-list__td.is-border 住宅部品企画部 企画開発課
                  td.hpd-contact-list__td 03-5211-0572
                tr
                  td.hpd-contact-list__td BL認定申請
                  td.hpd-contact-list__td.is-border 住宅部品評価部
                  td.hpd-contact-list__td 03-5211-0855
                tr.is-gray
                  td.hpd-contact-list__td BLマーク証紙
                  td.hpd-contact-list__td.is-border 住宅部品企画部 検隊・表示課
                  td.hpd-contact-list__td 03-5211-0667
                tr
                  td.hpd-contact-list__td JIS製品認証
                  td.hpd-contact-list__td.is-border 住宅部品評価部
                  td.hpd-contact-list__td 03-5211-0595
                tr.is-gray
                  td.hpd-contact-list__td トレーサビリティ関連
                  td.hpd-contact-list__td.is-border 住宅部品企画部 トレーサビリティ係
                  td.hpd-contact-list__td 03-5211-0998
                tr
                  td.hpd-contact-list__td その他
                  td.hpd-contact-list__td.is-border 住宅部品企画部 企画開発課
                  td.hpd-contact-list__td 03-5211-0572

        .hpd-contact-list__section
          h2.hpd-contact-list__section-title 試験・評定・証明・評価等（つくば建築試験研究センター）
          .hpd-contact-list__table-wrapper
            table.hpd-contact-list__table
              thead
                tr
                  th.hpd-contact-list__th 主な取扱内容
                  th.hpd-contact-list__th 担当部署
                  th.hpd-contact-list__th 電話番号
              tbody
                tr
                  td.hpd-contact-list__td(rowspan='2') 試験業務
                  td.hpd-contact-list__td.is-border 性能試験研究部
                  td.hpd-contact-list__td 029-864-1745
                tr
                  td.hpd-contact-list__td.is-border 建築・基礎地盤業務部
                  td.hpd-contact-list__td
                tr.is-gray
                  td.hpd-contact-list__td 評定・建設技術審査証明
                  td.hpd-contact-list__td.is-border 技術評価部
                  td.hpd-contact-list__td 029-864-1745
                tr
                  td.hpd-contact-list__td 建築基準法性能評価（大臣認定）
                  td.hpd-contact-list__td.is-border 技術評価部
                  td.hpd-contact-list__td 029-864-1745
                tr.is-gray
                  td.hpd-contact-list__td(rowspan='2') 調査・研究業務
                  td.hpd-contact-list__td.is-border 性能試験研究部
                  td.hpd-contact-list__td(rowspan='2') 029-864-1745
                tr.is-gray
                  td.hpd-contact-list__td.is-border 建築・基礎地盤業務部
                tr.is-gray
                  td.hpd-contact-list__td
                  td.hpd-contact-list__td.is-border 技術評価部
                  td.hpd-contact-list__td
                tr
                  td.hpd-contact-list__td その他
                  td.hpd-contact-list__td.is-border 企業管理部
                  td.hpd-contact-list__td 029-864-1745

        .hpd-contact-list__section
          h2.hpd-contact-list__section-title 建築確認検査・住宅性能評価等（住宅・建築評価センター）
          .hpd-contact-list__table-wrapper
            table.hpd-contact-list__table
              thead
                tr
                  th.hpd-contact-list__th 主な取扱内容
                  th.hpd-contact-list__th 担当部署
                  th.hpd-contact-list__th 電話番号
              tbody
                tr
                  td.hpd-contact-list__td 建築確認検査
                  td.hpd-contact-list__td.is-border 建築確認・住宅性能評価部
                  td.hpd-contact-list__td 03-5211-0599
                tr.is-gray
                  td.hpd-contact-list__td(rowspan='3') 構造判定室
                  td.hpd-contact-list__td.is-border 構造判定部
                  td.hpd-contact-list__td 03-5211-0738
                tr.is-gray
                  td.hpd-contact-list__td.is-border 名古屋構造判定室
                  td.hpd-contact-list__td 052-212-9056
                tr.is-gray
                  td.hpd-contact-list__td.is-border 大阪構造判定室
                  td.hpd-contact-list__td 06-7176-3794
                tr
                  td.hpd-contact-list__td 住宅性能評価・長期優良住宅・フラット適合証明事業等
                  td.hpd-contact-list__td.is-border 建築確認・住宅性能評価部
                  td.hpd-contact-list__td 03-5211-0578
                tr.is-gray
                  td.hpd-contact-list__td CASBEE・BELS・省エネ適判
                  td.hpd-contact-list__td.is-border 認定・評価部
                  td.hpd-contact-list__td 03-5211-0591

        .hpd-contact-list__section
          h2.hpd-contact-list__section-title システム審査登録（システム審査登録センター）
          .hpd-contact-list__table-wrapper
            table.hpd-contact-list__table
              thead
                tr
                  th.hpd-contact-list__th 主な取扱内容
                  th.hpd-contact-list__th 担当部署
                  th.hpd-contact-list__th 電話番号
              tbody
                tr
                  td.hpd-contact-list__td ISO審査・登録
                  td.hpd-contact-list__td.is-border 業務推進部
                  td.hpd-contact-list__td 03-5211-0680
                tr
                  td.hpd-contact-list__td
                  td.hpd-contact-list__td.is-border 審査管理部
                  td.hpd-contact-list__td

        .hpd-contact-list__section
          h2.hpd-contact-list__section-title 調査・研究・技術普及等（サステナブル居住研究センター ）
          .hpd-contact-list__table-wrapper
            table.hpd-contact-list__table
              thead
                tr
                  th.hpd-contact-list__th 主な取扱内容
                  th.hpd-contact-list__th 担当部署
                  th.hpd-contact-list__th 電話番号
              tbody
                tr
                  td.hpd-contact-list__td 住宅における良好な温熱環境実現推進フォーラム
                  td.hpd-contact-list__td.is-border サステナブル居住研究センター
                  td.hpd-contact-list__td 03-5211-0585
                tr.is-gray
                  td.hpd-contact-list__td その他の調査・研究
                  td.hpd-contact-list__td.is-border サステナブル居住研究センター
                  td.hpd-contact-list__td 03-5211-0585

        .hpd-contact-list__section
          h2.hpd-contact-list__section-title その他の業務
          .hpd-contact-list__table-wrapper
            table.hpd-contact-list__table
              thead
                tr
                  th.hpd-contact-list__th 主な取扱内容
                  th.hpd-contact-list__th 担当部署
                  th.hpd-contact-list__th 電話番号
              tbody
                tr
                  td.hpd-contact-list__td ベターライフリフォームアドバイザー登録制度
                  td.hpd-contact-list__td.is-border 業務支援部
                  td.hpd-contact-list__td 03-5211-0075
                tr.is-gray
                  td.hpd-contact-list__td リフォーム業務品質審査登録制度
                  td.hpd-contact-list__td.is-border リフォーム業務審査部
                  td.hpd-contact-list__td 03-5211-0626
                tr
                  td.hpd-contact-list__td 住宅履歴情報管理支援サービス
                  td.hpd-contact-list__td.is-border 情報管理・DX推進部
                  td.hpd-contact-list__td 03-5211-0566

        .hpd-contact-list__section
          h2.hpd-contact-list__section-title 当財団に関するお問い合わせ
          .hpd-contact-list__table-wrapper
            table.hpd-contact-list__table
              thead
                tr
                  th.hpd-contact-list__th 主な取扱内容
                  th.hpd-contact-list__th 担当部署
                  th.hpd-contact-list__th 電話番号
              tbody
                tr
                  td.hpd-contact-list__td 採用情報
                  td.hpd-contact-list__td.is-border 総務部
                  td.hpd-contact-list__td 03-5211-0556
                tr.is-gray
                  td.hpd-contact-list__td 広報・ホームページ
                  td.hpd-contact-list__td.is-border 広報部
                  td.hpd-contact-list__td 03-5211-1402
                tr
                  td.hpd-contact-list__td その他
                  td.hpd-contact-list__td.is-border 総務部
                  td.hpd-contact-list__td 03-5211-0556
