:root {
  --primary-color: #cf3c39;
  --primary-color-400: #8e3328;
  --primary-color-500: #b90303;
  --secondary-color: #ff0000;
  --orange-color: #ffa648;
  --orange-color-100: #d26b28;
  --green-color: #b2b268;
  --green-color-100: #a8c448;
  --gray-color: #666666;
  --gray-color-50: #f7f7f7;
  --gray-color-80: #d9d9d9;
  --gray-color-100: #707070;
  --gray-dark-color-700: #333;
  --gray-dark-color-400: #7d7d8e;
  --white-color: #fff;
  --black-color: #000;
  --bg-body-color: #fff;
  --bg-color-1: #f2dfb5;
  --bg-color-2: #f9f0da;
  --breadcrumb-bg-color: #e99494;
  --breadcrumb-text-color: #333;
  --breadcrumb-separator-color: #333;
  --sidebar-border-color: #999;
  --sidebar-title-bg-color: #f5f5f5;
  --sidebar-title-color: #333;
  --sidebar-link-color: #0066cc;
  --sidebar-link-hover-color: #4671b2;
  --category-table-border-color: #999;
  --category-table-header-bg: #f5f5f5;
  --category-table-row-hover: #f9f9f9;
  --category-arrow-color: #666;
  --data-table-border-color: #999;
  --data-table-header-bg: #dcf0ff;
  --data-table-header-color: #333;
  --data-table-cell-color: #333;
  --download-table-section-bg: #ddd;
  --download-table-border-color: #999;
  --download-table-legend-border: #666;
  --download-table-link-color: #4671b2;
  --banner2-bg-color: #e4eff6;
  --about-title-color: #666;
  --about-text-color: #333;
  --about-button-bg: #fffbc7;
  --about-button-hover-bg: #f5e084;
  --about-button-text: #333;
  --about-mission-bg: #f8f8f8;
  --about-mission-border: #e0e0e0;
  --about-image-caption-color: #666;
  --accordion-red: #e68082;
  --accordion-blue: #5096c8;
  --accordion-orange: #f0962b;
  --accordion-green: #68bb61;
  --accordion-teal: #5ab4b4;
  --accordion-purple: #a078a0;
  --accordion-yellow: #f0c81e;
}

$font-family-base: 'Noto Sans JP', sans-serif;
$header-height-pc: 100px;
$header-height-sp: 60px;
$font-size: 14px;
$container-width: 1280px + 32px;
