.hpd-main-1
  .hpd-main-1__container
    +breadcrumb2([{title: 'ホーム', link: '/'}, {current: '優良住宅部品（BL部品）等（住宅部品・関連事業推進本部）'}])
  -
    var noticeItems = [
      { date: '2025.6.11', title: '70文字程度○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' },
      { date: '2025.6.11', title: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' },
      { date: '2025.6.11', title: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' }
    ]
  +banner('images/main-1.png', '優良住宅部品（BL部品）等', '住宅部品：関連事業推進本部', 'is-red', noticeItems)

  .hpd-main-1__content
    .hpd-main-1__container

      .hpd-main-1__section
        +sectionHeader('優良住宅部品（BL部品）認定制度', 'is-red')
        .hpd-main-1__section-body
          .hpd-main-1__columns
            .hpd-main-1__column
              .hpd-main-1__group
                h3.hpd-main-1__heading 優良住宅部品（ＢＬ部品）について
                ul.hpd-main-1__list
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BL部品とは
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') 社会貢献優良住宅部品（BL-bs部品）とは
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') 優良住宅部品認定制度ハンドブック
                  li.hpd-main-1__item
                    a.hpd-main-1__link.has-pdf(href='#')
                      span.hpd-main-1__text BL部品認定品目一覧（PDF）
                      span.hpd-main-1__icon
                        img(src='images/document.png' alt='PDF')
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BL部品に関する支援制度

              .hpd-main-1__group
                h3.hpd-main-1__heading 認定規程、認定規則
                ul.hpd-main-1__list
                  li.hpd-main-1__item
                    a.hpd-main-1__link.has-pdf(href='#')
                      span.hpd-main-1__text 認定規程(PDF)
                      span.hpd-main-1__icon
                        img(src='images/document.png' alt='PDF')
                  li.hpd-main-1__item
                    a.hpd-main-1__link.has-pdf(href='#')
                      span.hpd-main-1__text 認定規則(PDF)
                      span.hpd-main-1__icon
                        img(src='images/document.png' alt='PDF')

              .hpd-main-1__group
                h3.hpd-main-1__heading 認定基準・試験方法書
                ul.hpd-main-1__list
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') 認定基準・試験方法書

            .hpd-main-1__column
              .hpd-main-1__group
                h3.hpd-main-1__heading BL認定申請に関する手続き
                ul.hpd-main-1__list
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') 認定申請について
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') 認定申請書類ダウンロード

              .hpd-main-1__group
                h3.hpd-main-1__heading BL部品保険（BL保険）について
                ul.hpd-main-1__list
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BL部品保険制度
                  li.hpd-main-1__item
                    a.hpd-main-1__link.has-pdf(href='#')
                      span.hpd-main-1__text BL部品の保証期間（PDF）
                      span.hpd-main-1__icon
                        img(src='images/document.png' alt='PDF')

              .hpd-main-1__group
                h3.hpd-main-1__heading BLマーク証紙等に関する手続き
                ul.hpd-main-1__list
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BL保険に関する書式ダウンロード
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BLマーク証紙等に関する手続き
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BLマーク証紙頒布請求（注文）手続き
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') その他の報告等に関する手続き

      .hpd-main-1__section
        +sectionHeader('優良住宅部品（BL部品）の検索・紹介', 'is-red')
        .hpd-main-1__section-body
          .hpd-main-1__columns
            .hpd-main-1__column
              .hpd-main-1__group
                h3.hpd-main-1__heading BL部品の検索
                ul.hpd-main-1__list
                  li.hpd-main-1__item
                    a.hpd-main-1__link.has-pdf(href='#')
                      span.hpd-main-1__text 認定番号の読み方（PDF）
                      span.hpd-main-1__icon
                        img(src='images/document.png' alt='PDF')
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BL部品の検索
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') 認定等に係る公表

            .hpd-main-1__column
              .hpd-main-1__group
                h3.hpd-main-1__heading BL部品の紹介
                ul.hpd-main-1__list
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BL部品ガイドブック
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BL部品　製品紹介
                  li.hpd-main-1__item
                    a.hpd-main-1__link(href='#') BL部品の採用事例

      .hpd-main-1__section
        +sectionHeader('関連事業', 'is-red')
        .hpd-main-1__section-body
          .hpd-main-1__columns
            .hpd-main-1__column
              ul.hpd-main-1__list
                li.hpd-main-1__item
                  a.hpd-main-1__link(href='#') JIS製品認証
                li.hpd-main-1__item
                  a.hpd-main-1__link(href='#') 特定住宅部品にかかる優良取替事業
                li.hpd-main-1__item
                  a.hpd-main-1__link(href='#') 住宅用資機材適合評価・性能証明

            .hpd-main-1__column
              ul.hpd-main-1__list
                li.hpd-main-1__item
                  a.hpd-main-1__link(href='#') 住宅部品のトレーサビリティ情報管理
                li.hpd-main-1__item
                  a.hpd-main-1__link(href='#') 既設特定住宅部品診断事業（水栓診断士講習等）

      .hpd-main-1__slider-section
        -
          var sliderItems = [
            { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○'},
            { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○'},
            { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○'},
            { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○'},
            { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○'},
            { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○'},
            { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○' }
          ]
        +slider(sliderItems)

    .hpd-main-1__contact-section
      +contactBox('優良住宅部品（BL部品）等に関するお問い合わせ', '#contact', 'is-red')
