.hpd-main-2
  .hpd-main-2__container
    +breadcrumb2([{title: 'ホーム', link: '/'}, {current: '試験・評定等（つくば建築試験研究センター）'}])
  -
    var noticeItems = [
      { date: '2025.6.11', title: '70文字程度○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' },
      { date: '2025.6.11', title: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' },
      { date: '2025.6.11', title: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' }
    ]
  +banner('images/main-2.png', '試験・評定・証明・評価等', 'つくば建築試験研究センター', 'is-blue', noticeItems)

  .hpd-main-2__content
    .hpd-main-2__container

      .hpd-main-2__section
        +sectionHeader('ご案内', 'is-blue')
        .hpd-main-2__section-body
          .hpd-main-2__columns
            .hpd-main-2__column
              ul.hpd-main-2__list
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 業務案内
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 施設案内

            .hpd-main-2__column
              ul.hpd-main-2__list
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') アクセス
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 機関誌「BLつくば」

      .hpd-main-2__section
        +sectionHeader('性能試験・調査', 'is-blue')
        .hpd-main-2__section-body
          .hpd-main-2__columns
            .hpd-main-2__column
              ul.hpd-main-2__list
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') ＢＬ部品試験
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 構造
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 材料・施工
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 環境・設備
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 防耐火

            .hpd-main-2__column
              ul.hpd-main-2__list
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 基礎構造
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 工事用試験
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') その他の試験・調査
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 試験・調査の申込方法

      .hpd-main-2__section
        +sectionHeader('評定・証明・評価', 'is-blue')
        .hpd-main-2__section-body
          .hpd-main-2__columns
            .hpd-main-2__column
              ul.hpd-main-2__list
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 評定
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 建設技術審査証明事業
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 構造方法等の認定に係る性能評価

            .hpd-main-2__column
              ul.hpd-main-2__list
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 地盤改良・杭基礎等品質評価
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 地盤の液状化対策審査・保証

      .hpd-main-2__section
        +sectionHeader('研究レポート', 'is-blue')
        .hpd-main-2__section-body
          .hpd-main-2__columns
            .hpd-main-2__column
              ul.hpd-main-2__list
                li.hpd-main-2__item
                  a.hpd-main-2__link(href='#') 研究論文

      .hpd-main-2__slider-section
            -
              var sliderItems = [
                { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○'},
                { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○'},
                { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○'},
                { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○'},
                { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○'},
                { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○'},
                { title: '文字30字程度○○○○○○○○○', description: '○○○○○○○○○○○○○○○○○'}
              ]
            +slider(sliderItems)

  .hpd-main-2__contact-section
    +contactBox('試験・評定・証明・評価等に関するお問い合わせ', '#contact', 'is-blue')
