.hpd-009
  .hpd-009__container
    +breadcrumb3([{title: 'HOME', link: '/'}, {title: '採用情報', link: '#'}, {title: '新卒採用', link: '#'}, {current: '募集要項'}], 'is-gray')
    .hpd-009__content
      include ../../blocks/sidebar3
      .hpd-009__main
        .hpd-009__heading
          h2.hpd-009__title 募集要項

        include ./recruitment-content
