.hpd-recruitment
  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 募集職種

    .hpd-recruitment__content
      .hpd-recruitment__item
        span.hpd-recruitment__bullet •
        span.hpd-recruitment__label 事務系総合職

      .hpd-recruitment__item
        span.hpd-recruitment__bullet •
        span.hpd-recruitment__label 技術系総合職 原則として以下の分野を専攻する高等専門学校生、大学生、大学院生等<br>建築系学科(建築、設備、機械、電気、環境等)、土木系学科<br>(いずれも原則一年間は嘱託採用)

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 業務内容

    .hpd-recruitment__content
      .hpd-recruitment__subsection
        h4.hpd-recruitment__subtitle 【事務系総合職】

        .hpd-recruitment__list
          p.hpd-recruitment__text 1. 総務、経理、人事管理業務
          p.hpd-recruitment__text 2. 以下の技術系業務に係る広報、営業、システム管理、事務管理等業務

      .hpd-recruitment__subsection
        h4.hpd-recruitment__subtitle 【技術系総合職】

        .hpd-recruitment__list
          p.hpd-recruitment__text 1. 優良住宅部品(BL部品)の認定
          p.hpd-recruitment__text 2. 建築確認検査、住宅性能評価
          p.hpd-recruitment__text 3. 建築基準法に基づく構造方法等の大臣認定の性能評価
          p.hpd-recruitment__text 4. 住宅部品、建築材料、部材、構工法など建築全般に関する性能試験
          p.hpd-recruitment__text 5. 建築材料、部材、構工法、施工品質等の法令などの技術基準への適合性評定
          p.hpd-recruitment__text 6. 品質、環境、情報セキュリティ、労働安全衛生マネジメントシステムの認証
          .hpd-recruitment__indent
            p.hpd-recruitment__text （ISO9001、ISO14001など）
          p.hpd-recruitment__text 7. その他、調査研究
          .hpd-recruitment__indent
            p.hpd-recruitment__text （サステナブルな住まいや暮らしの実現、新工法開発、省エネ・防災視点による技術関係など）

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 初任給

    .hpd-recruitment__content
      p.hpd-recruitment__text 当財団規定による
      p.hpd-recruitment__text ※本部、つくば勤務の場合
      p.hpd-recruitment__text 大卒: 257,400円程度
      p.hpd-recruitment__text 修士: 269,100円程度
      p.hpd-recruitment__text （上記は都市手当を含む）

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 昇給・賞与・諸手当

    .hpd-recruitment__content
      p.hpd-recruitment__text 昇給：年1回
      p.hpd-recruitment__text 賞与：年2回（6月、12月）
      p.hpd-recruitment__text 諸手当：都市手当、残業手当、住居手当、扶養手当ほか

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 休日休暇

    .hpd-recruitment__content
      p.hpd-recruitment__text 土・日・祝日（完全週休二日制）、年次有給休暇（初年度10日、最高20日）
      p.hpd-recruitment__text 年末年始、夏季休暇、育児・介護休業など

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 勤務地

    .hpd-recruitment__content
      p.hpd-recruitment__text 東京都（千代田区）、茨城県（つくば市［性能試験・評定業務］）
      p.hpd-recruitment__text 愛知県（名古屋市［構造計算適合性判定業務、軽易な試験業務］）
      p.hpd-recruitment__text 大阪府（大阪市［構造計算適合性判定業務］）
      p.hpd-recruitment__text ※将来的な転勤の可能性あり

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 勤務時間

    .hpd-recruitment__content
      p.hpd-recruitment__text 9時30分～18時00分（本部：東京都千代田区）
      p.hpd-recruitment__text 9時00分～17時30分（本部以外）
      p.hpd-recruitment__text ※時差出勤・テレワーク制度あり

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 待遇・福利厚生・社内制度

    .hpd-recruitment__content
      p.hpd-recruitment__text 保険・福利厚生
      p.hpd-recruitment__text 健康保険、厚生年金保険、雇用保険、労災保険、その他加入先健康保険組合施設など
      p.hpd-recruitment__text 研修制度
      p.hpd-recruitment__text マナー研修、各種業務研修、役職別研修など
      p.hpd-recruitment__text 資格取得支援制度
      p.hpd-recruitment__text 各種資格に対し資格取得支援制度があり

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 応募条件

    .hpd-recruitment__content
      p.hpd-recruitment__text 令和９年３月までに四年制大学又は大学院等を卒業又は修了見込みの方で、かつ職歴のない方

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 応募対象学部

    .hpd-recruitment__content
      p.hpd-recruitment__text 事務系総合職 ： 全学部全学科
      p.hpd-recruitment__text 技術系総合職 ： 原則として以下の分野を専攻する高等専門学校生、大学生、大学院生等<br>建築系学科（建築、設備、機械、電気、環境等）、土木系学科

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 募集人数

    .hpd-recruitment__content
      p.hpd-recruitment__text 若干名

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 採用スケジュール（予定）

    .hpd-recruitment__content.arrow-down
      p.hpd-recruitment__text 書類選考(一次選考）、面接及び論文試験（二次選考）※面接は複数回実施します。

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title ６月上旬から７月（ 内定）

    .hpd-recruitment__content
      p.hpd-recruitment__text 応募書類提出先
      p.hpd-recruitment__text 履歴書及びエントリーシートをこちらより送付してください（令和８年５月３１日 一次締切)
      p.hpd-recruitment__text ※WEBエントリーが難しい方は、以下の住所までお送りください。
      p.hpd-recruitment__text.is-space 〒102-0071
      p.hpd-recruitment__text.is-space 東京都千代田区富士見2-7-2 ステージビルディング6F
      p.hpd-recruitment__text.is-space 一般財団法人ベターリビング 総務部 総務課

  .hpd-recruitment__section
    .hpd-recruitment__header
      img.hpd-recruitment__icon(src="./images/bar-icon.svg" alt="")
      h3.hpd-recruitment__title 問い合わせ

    .hpd-recruitment__content
      a.hpd-recruitment__link-text(href="#") こちら
      span.hpd-recruitment__text よりお問い合わせください。

