.hpd-banner
  .hpd-banner__container
    .hpd-banner__image
      img.hpd-banner__image-src(src="/images/banner.jpg" alt="banner")
    .hpd-banner__content
      h2.hpd-banner__content-title 優良住宅部品（BL部品）等（住宅部品・関連事業推進本部）
