.hpd-banner2
  .hpd-banner2__container
    .hpd-banner2__inner
      .hpd-banner2__content
        h2.hpd-banner2__content-title 財団のご案内
      .hpd-banner2__image
        img.hpd-banner2__image-src(src="/images/flower.svg" alt="flower")
