nav.hpd-breadcrumb(aria-label="Breadcrumb")
  .hpd-breadcrumb__container
    ol.hpd-breadcrumb__list
      li.hpd-breadcrumb__item
        a.hpd-breadcrumb__link(href="/") HOME
      li.hpd-breadcrumb__item
        span.hpd-breadcrumb__separator >
        a.hpd-breadcrumb__link(href="#") 部品（BL部品）等（住宅部品・関連事業推進本部）
      li.hpd-breadcrumb__item
        span.hpd-breadcrumb__separator >
        span.hpd-breadcrumb__current 認定基準、試験方法書、自己チェックリスト等

