nav.hpd-breadcrumb2(aria-label="Breadcrumb")
  .hpd-breadcrumb2__container
    ol.hpd-breadcrumb2__list
      li.hpd-breadcrumb2__item
        a.hpd-breadcrumb2__link(href="/") ホーム
      li.hpd-breadcrumb2__item
        span.hpd-breadcrumb__separator >
        span.hpd-breadcrumb__current ホーム
