nav.hpd-breadcrumb.is-yellow(aria-label="Breadcrumb")
  .hpd-breadcrumb__container
    ol.hpd-breadcrumb__list
      li.hpd-breadcrumb__item
        a.hpd-breadcrumb__link(href="/") HOME
      li.hpd-breadcrumb__item
        span.hpd-breadcrumb__separator >
        a.hpd-breadcrumb__link(href="#") 建築確認検査・住宅性能評価等（住宅・建築評価センター）
      li.hpd-breadcrumb__item
        span.hpd-breadcrumb__separator >
        span.hpd-breadcrumb__current CASBEE建築評価認証

