nav.hpd-breadcrumb.is-gray(aria-label="Breadcrumb")
  .hpd-breadcrumb__container
    ol.hpd-breadcrumb__list
      li.hpd-breadcrumb__item
        a.hpd-breadcrumb__link(href="/") HOME
      li.hpd-breadcrumb__item
        span.hpd-breadcrumb__separator >
        a.hpd-breadcrumb__link(href="#") 採用情報
      li.hpd-breadcrumb__item
        span.hpd-breadcrumb__separator >
        span.hpd-breadcrumb__current キャリア採用

