footer.hpd-footer
  .hpd-footer__main
    .hpd-footer__container
      .hpd-footer__top
        .hpd-footer__brand
          .hpd-footer__contact
            .hpd-footer__contact-item
              span.hpd-footer__contact-label 一般財団法人 ベターリビング

      .hpd-footer__nav
        .hpd-footer__nav-section
          h3.hpd-footer__nav-title 優良住宅部品(BL部品)等
          ul.hpd-footer__nav-list
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 優良住宅部品(BL部品)認定制度
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 優良住宅部品(BL部品)の検索・紹介
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 関連事業

        .hpd-footer__nav-section
          h3.hpd-footer__nav-title 試験・評定・証明・評価等
          ul.hpd-footer__nav-list
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 ご案内
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 性能試験・調査
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 評定・証明・評価
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 研究レポート

        .hpd-footer__nav-section
          h3.hpd-footer__nav-title 建築確認検査・性能評価等
          ul.hpd-footer__nav-list
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 建築確認検査・住宅性能評価等
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 構造計算適合性判定
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 環境関係評価(省エネ等)
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 保険・証明等に係る審査
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 その他の法定業務

        .hpd-footer__nav-section
          h3.hpd-footer__nav-title システム審査登録
          ul.hpd-footer__nav-list
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 ISO9001
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 ISO14001
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 ISO/IEC27001
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 ISO/IEC27701
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 ISO/IEC27017
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 ISO45001

        .hpd-footer__nav-section
          h3.hpd-footer__nav-title 調査・研究・技術普及等
          ul.hpd-footer__nav-list
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 サステナブル居住研究センター
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 A Quick Look at Housing in japan

        .hpd-footer__nav-section
          h3.hpd-footer__nav-title 住宅・住宅部品に関する情報管理
          ul.hpd-footer__nav-list
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 住宅部品のトレーサビリティ情報管理
            li.hpd-footer__nav-item
              a.hpd-footer__nav-link(href="#") 一 住宅履歴情報管理支援サービス
            li.hpd-footer__nav-item.is-no-padding
              a.hpd-footer__nav-link.is-highlight(href="#") ベターライフリフォーム関連制度

        .hpd-footer__nav-section
          h3.hpd-footer__nav-title 財団のご案内
          ul.hpd-footer__nav-list
            li.hpd-footer__nav-item.is-no-padding
              a.hpd-footer__nav-link(href="#") アクセス
            li.hpd-footer__nav-item.is-no-padding
              a.hpd-footer__nav-link(href="#") 採用情報
            li.hpd-footer__nav-item.is-no-padding
              a.hpd-footer__nav-link(href="#") English・中文

        .hpd-footer__nav-section
          ul.hpd-footer__nav-list
            li.hpd-footer__nav-item.is-no-padding
              a.hpd-footer__nav-link(href="#") BLマガジン

    .hpd-footer__horizontal-line
      ul.hpd-footer__horizontal-list
        li.hpd-footer__horizontal-item
          a.hpd-footer__nav-link(href="#") 個人情報保護方針
        li.hpd-footer__horizontal-item
          a.hpd-footer__nav-link(href="#") サイトポリシー
        li.hpd-footer__horizontal-item
          a.hpd-footer__nav-link(href="#") 当サイトへのリンク
        li.hpd-footer__horizontal-item
          a.hpd-footer__nav-link(href="#") 関連団体等リンク
        li.hpd-footer__horizontal-item
          a.hpd-footer__nav-link(href="#") 当サイトに関するご意見

  .hpd-footer__mobile
    .hpd-footer__container
      .hpd-footer__mobile-grid
        .hpd-footer__mobile-content
          .hpd-footer__mobile-title 個人情報保護方針
        .hpd-footer__mobile-content
          .hpd-footer__mobile-title サイトポリシー
        .hpd-footer__mobile-content
          .hpd-footer__mobile-title 当サイトへのリンク
        .hpd-footer__mobile-content
          .hpd-footer__mobile-title 関連団体等リンク

  .hpd-footer__bottom
    .hpd-footer__container
      .hpd-footer__bottom-content
        .hpd-footer__copyright
          p.hpd-footer__copyright-text © 2026一般財団法人 ベターリビング
