aside.hpd-sidebar
  .hpd-sidebar__accordion

    .hpd-sidebar__item
      button.hpd-sidebar__header(type="button" aria-expanded="false")
        span.hpd-sidebar__title 財団のご案内
        span.hpd-sidebar__icon ▼
      .hpd-sidebar__content
        .hpd-sidebar__section
          a.hpd-sidebar__link(href="#").hpd-sidebar__section-title 財団業務のご紹介
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 財団情報
            ul.hpd-sidebar__list.is-sub
              li.hpd-sidebar__list-item
                a.hpd-sidebar__link(href="#") 沿革
              li.hpd-sidebar__list-item
                a.hpd-sidebar__link(href="#") 業務・財務等の状況
              li.hpd-sidebar__list-item
                a.hpd-sidebar__link(href="#") 定款（PDF）
              li.hpd-sidebar__list-item
                a.hpd-sidebar__link(href="#") 組織・機構（PDF）
              li.hpd-sidebar__list-item
                a.hpd-sidebar__link(href="#") 評議員・役員名簿（PDF）
              li.hpd-sidebar__list-item
                a.hpd-sidebar__link(href="#") 50周年のあゆみ（1973-2023）（PDF）
              li.hpd-sidebar__list-item
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#")  財団運営の中期計画

        .hpd-sidebar__section
          a.hpd-sidebar__link(href="#").hpd-sidebar__section-title 長期優良住宅の確認（新築）
          a.hpd-sidebar__link(href="#").hpd-sidebar__section-title 長期優良住宅の確認（増築・改築）

    .hpd-sidebar__item
      button.hpd-sidebar__header(type="button" aria-expanded="false")
        span.hpd-sidebar__title アクセス
        span.hpd-sidebar__icon ▼
      .hpd-sidebar__content
        .hpd-sidebar__section
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#").hpd-sidebar__section-title 一般財団法人ベターリビング
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#").hpd-sidebar__section-title つくば建築試験研究センター
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#").hpd-sidebar__section-title 名古屋事務所
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#").hpd-sidebar__section-title 大阪構造判定室

    .hpd-sidebar__item
      button.hpd-sidebar__header(type="button" aria-expanded="false")
        span.hpd-sidebar__title 採用情報
        span.hpd-sidebar__icon ▼
      .hpd-sidebar__content
        .hpd-sidebar__section
          a.hpd-sidebar__link(href="#").hpd-sidebar__section-title 建築確認検査
          ul.hpd-sidebar__list.is-sub
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 財団紹介・仕事紹介
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 職員紹介・1日の流れ
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 募集要項
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 1日仕事体験・インターンシップ
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 採用説明会
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") お問い合わせ
            li.hpd-sidebar__list-item
          a.hpd-sidebar__link(href="#").hpd-sidebar__section-title キャリア採用


    .hpd-sidebar__item
      button.hpd-sidebar__header(type="button" aria-expanded="false")
        span.hpd-sidebar__title English・中文
        span.hpd-sidebar__icon ▼
      .hpd-sidebar__content
        .hpd-sidebar__section
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") English（PDF）
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") Chinese（中文）（PDF）
