aside.hpd-sidebar
  .hpd-sidebar__accordion

    .hpd-sidebar__item
      button.hpd-sidebar__header(type="button" aria-expanded="false")
        span.hpd-sidebar__title 優良住宅部品（BL 部品）認定制度
        span.hpd-sidebar__icon ▼
      .hpd-sidebar__content
        .hpd-sidebar__section
          h4.hpd-sidebar__section-title 優良住宅部品(BL部品)について
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品とは
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・社会資材優良住宅部品(BL-bs部品)とは
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・優良住宅部品認定制度ハンドブック
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品認定品目一覧(PDF)
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品に関する支援制度

        .hpd-sidebar__section
          h4.hpd-sidebar__section-title 認定規程、認定規則
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・認定規程(PDF)
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・認定規則(PDF)

        .hpd-sidebar__section
          h4.hpd-sidebar__section-title 認定基準、試験方法書
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・認定基準、試験方法書、自己チェックリスト等

        .hpd-sidebar__section
          h4.hpd-sidebar__section-title BL認定申請に関する手続き
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・認定申請について
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・認定申請書類ダウンロード

        .hpd-sidebar__section
          h4.hpd-sidebar__section-title BL部品保険(BL保険)について
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品保険制度
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品の保証期間(PDF)

        .hpd-sidebar__section
          h4.hpd-sidebar__section-title BLマーク証紙等に関する手続き
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL保険に関する書式ダウンロード
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BLマーク証紙等に関する手続き
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BLマーク証紙頒布請求(注文)手続き
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・その他の報告等に関する手続き

    .hpd-sidebar__item
      button.hpd-sidebar__header(type="button" aria-expanded="false")
        span.hpd-sidebar__title 優良住宅部品（BL 部品）の検索・紹介
        span.hpd-sidebar__icon ▼
      .hpd-sidebar__content
        .hpd-sidebar__section
          h4.hpd-sidebar__section-title BL部品の検索
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・認定番号の読み方(PDF)
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品の検索
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・認定等に係る公表

        .hpd-sidebar__section
          h4.hpd-sidebar__section-title BL部品の紹介
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品ガイドブック
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品　製品紹介
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ・BL部品の採用事例

    .hpd-sidebar__item
      button.hpd-sidebar__header(type="button" aria-expanded="false")
        span.hpd-sidebar__title 関連事業
        span.hpd-sidebar__icon ▼
      .hpd-sidebar__content
        .hpd-sidebar__section
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") JIS製品認証
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 特定住宅部品にかかる優良取替事業
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 住宅用資機材適合評価・性能証明
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 住宅部品のトレーサビリティ情報管理
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 既設特定住宅部品診断事業(水傷診断士講習等)

    .hpd-sidebar__item
      button.hpd-sidebar__header(type="button" aria-expanded="false")
        span.hpd-sidebar__title BL 部品に関する情報発信
        span.hpd-sidebar__icon ▼
      .hpd-sidebar__content
        .hpd-sidebar__section
          ul.hpd-sidebar__list
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 住宅部品×SDGs
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") ごぞんじでしたか?住宅部品
            li.hpd-sidebar__list-item
              a.hpd-sidebar__link(href="#") 既存賃貸集合住宅の省エネ化支援事業

