.hpd-main-5
  .hpd-main-5__container
    include ../../blocks/breadcrum2
  -
    var noticeItems = [

    ]
  +banner('', '住宅・住宅部品に関する情報管理', '', 'is-purple', noticeItems)

  .hpd-main-5__content
    .hpd-main-5__container
      .hpd-main-5__section
        span 住宅部品のトレーサビリティ情報管理
        span 住宅履歴情報管理支援サービス

  .hpd-main-5__contact-section
    +contactBox('お問い合わせ', '#contact', 'is-purple')
