- var heading = '性能表示書'

.hpd-005-2
  .hpd-005-2__container
    +breadcrumb3([{title: 'HOME', link: '/'}, {title: '部品（BL部品）等（住宅部品・関連事業推進本部）', link: '#'}, {current: '性能表示書'}])
    include ../../blocks/banner
    .hpd-005-2__content
      include ../../blocks/sidebar
      .hpd-005-2__main
        include ../../blocks/heading
        .hpd-005-2__breadcrumb
          a.hpd-005-2__breadcrumb-link(href="#") 玄関周り
          span.hpd-005-2__breadcrumb-separator ＞
          span.hpd-005-2__breadcrumb-current 玄関ドア
        .hpd-005-2__table
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 三和シヤッター工業株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-110
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 日本フネン株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-100
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title ＢＸルーテス株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 23-072
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title フジメタル株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-249
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 文化シヤッター株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-117
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 株式会社ＬＩＸＩＬ
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-087
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-194
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title ＹＫＫＡＰ株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-146
        include ../../blocks/heading
        .hpd-005-2__breadcrumb
          a.hpd-005-2__breadcrumb-link(href="#") 玄関周り
          span.hpd-005-2__breadcrumb-separator ＞
          span.hpd-005-2__breadcrumb-current 宅配ボックス
        .hpd-005-2__table
          .hpd-005-2__table-item.is-primary
            .hpd-005-2__table-item-title 共用型（集合住宅用）
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 株式会社アルファ
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-011
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 田島メタルワーク株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-130
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 株式会社フルタイムシステム
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-147
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-211
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title パナソニックハウジングソリューションズ株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-002
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 河村電器産業株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 22-004
        .hpd-005-2__table
          .hpd-005-2__table-item.is-primary
            .hpd-005-2__table-item-title 単独型（戸建用）
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 株式会社アルファ
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-041
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-042
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title パナソニックハウジングソリューションズ株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 29-317
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 19-270
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 22-243
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 23-064
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title ＹＫＫ ＡＰ株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-012
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-043
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-044
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 24-247

