- var heading = '性能表示書'

.hpd-005-2
  .hpd-005-2__container
    include ../../blocks/breadcrum
    include ../../blocks/banner
    .hpd-005-2__content
      include ../../blocks/sidebar
      .hpd-005-2__main
        include ../../blocks/heading
        .hpd-005-2__breadcrumb
          a.hpd-005-2__breadcrumb-link(href="#") 玄関周り
          span.hpd-005-2__breadcrumb-separator ＞
          span.hpd-005-2__breadcrumb-current 玄関ドア
        .hpd-005-2__table
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 三和シヤッター工業株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-110
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 日本フネン株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-100
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title ＢＸルーテス株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-072
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 株式会社ＬＩＸＩＬ
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-087
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-194
        include ../../blocks/heading
        .hpd-005-2__breadcrumb
          a.hpd-005-2__breadcrumb-link(href="#") 玄関周り
          span.hpd-005-2__breadcrumb-separator ＞
          span.hpd-005-2__breadcrumb-current 宅配ボックス
        .hpd-005-2__table
          .hpd-005-2__table-item.is-primary
            .hpd-005-2__table-item-title ダイキン工業株式会社
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 三和シヤッター工業株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-110
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 日本フネン株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-100
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title ＢＸルーテス株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-072
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 株式会社ＬＩＸＩＬ
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-087
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-194
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-194
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-194
        .hpd-005-2__table
          .hpd-005-2__table-item.is-primary
            .hpd-005-2__table-item-title ダイキン工業株式会社
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 三和シヤッター工業株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-110
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 日本フネン株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-100
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title ＢＸルーテス株式会社
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-072
          .hpd-005-2__table-item
            .hpd-005-2__table-item-title 株式会社ＬＩＸＩＬ
            .hpd-005-2__table-item-files
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 20-087
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-194
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-194
              .hpd-005-2__table-item-files-item
                img.hpd-005-2__table-item-files-item-icon(src="./images/pdf-icon.svg" alt="PDF")
                .hpd-005-2__table-item-files-item-name 21-194

