.hpd-foundation
  .hpd-foundation__container
    include ../../blocks/breadcrum2
    h1.hpd-foundation__title 財団情報
  .hpd-foundation__content
    .hpd-foundation__container
      .hpd-foundation__cards
        .hpd-foundation__card
          .hpd-foundation__card-icon
            img(src="/images/logo-1.png" alt="沿革")
          .hpd-foundation__card-content
            h3.hpd-foundation__card-title 沿革
          .hpd-foundation__card-action
            a.hpd-foundation__card-link(href="#")
              img(src="/images/icon-1.png" alt="")

        .hpd-foundation__card
          .hpd-foundation__card-icon
            img(src="/images/logo-2.png" alt="業務・財務等の状況")
          .hpd-foundation__card-content
            h3.hpd-foundation__card-title 業務・財務等の状況
          .hpd-foundation__card-action
            a.hpd-foundation__card-link(href="#")
              img(src="/images/icon-1.png" alt="")

        .hpd-foundation__card.has-logos
          .hpd-foundation__card-icon
            img(src="/images/logo-3.png" alt="定款")
          .hpd-foundation__card-content
            h3.hpd-foundation__card-title 定款（PDF）
          .hpd-foundation__card-action
            a.hpd-foundation__card-link(href="#")
              img(src="/images/icon-2.png" alt="")

        .hpd-foundation__card.is-download
          .hpd-foundation__card-icon
            img(src="/images/logo-4.png" alt="組織・構情")
          .hpd-foundation__card-content
            h3.hpd-foundation__card-title 組織・構情（PDF）
          .hpd-foundation__card-action
            a.hpd-foundation__card-link(href="#")
              img(src="/images/icon-2.png" alt="")

        .hpd-foundation__card.is-download
          .hpd-foundation__card-icon
            img(src="/images/logo-5.png" alt="評議員・役員名簿")
          .hpd-foundation__card-content
            h3.hpd-foundation__card-title 評議員・役員名簿（PDF）
          .hpd-foundation__card-action
            a.hpd-foundation__card-link(href="#")
              img(src="/images/icon-2.png" alt="")

        .hpd-foundation__card.is-download
          .hpd-foundation__card-icon
            img(src="/images/logo-6.png" alt="50年のあゆみ")
          .hpd-foundation__card-content
            h3.hpd-foundation__card-title 50年のあゆみ 1973-2023（PDF）
          .hpd-foundation__card-action
            a.hpd-foundation__card-link(href="#")
              img(src="/images/icon-2.png" alt="")
