- var heading = 'JIS製品認証'
- var title = 'JIS製品認証リスト'

.hpd-006
  .hpd-006__container
    +breadcrumb3([{title: 'HOME', link: '/'}, {title: '部品（BL部品）等（住宅部品・関連事業推進本部）', link: '#'}, {current: 'JIS製品認証'}])
    include ../../blocks/banner
    .hpd-006__content
      include ../../blocks/sidebar
      .hpd-006__main
        include ../../blocks/heading
        .hpd-006__section
          include ../../blocks/004-2/category-title
          include ./jis-table
