- var heading = 'JIS製品認証'
- var title = 'JIS製品認証リスト'

.hpd-006
  .hpd-006__container
    include ../../blocks/breadcrum
    include ../../blocks/banner
    .hpd-006__content
      include ../../blocks/sidebar
      .hpd-006__main
        include ../../blocks/heading
        include ../../blocks/004-2/category-title
        include ./jis-table
