.hpd-jis-table
  .hpd-jis-table__date 2025年7月1日現在

  .hpd-jis-table__wrapper
    table.hpd-jis-table__table
      thead.hpd-jis-table__thead
        tr.hpd-jis-table__row
          th.hpd-jis-table__header
          th.hpd-jis-table__header 認証番号
          th.hpd-jis-table__header 認証契約を<br>締結した期日<br>(認証日)
          th.hpd-jis-table__header 認証取得者の氏名又は名称
          th.hpd-jis-table__header 規格番号
          th.hpd-jis-table__header 規格名称
          th.hpd-jis-table__header 詳細

      tbody.hpd-jis-table__tbody
        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 1
          td.hpd-jis-table__cell BL0907001
          td.hpd-jis-table__cell 2007年12月25日
          td.hpd-jis-table__cell 株式会社沖縄ＬＩＸＩＬ製作所
          td.hpd-jis-table__cell JIS A4706:2021
          td.hpd-jis-table__cell サッシ
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 2
          td.hpd-jis-table__cell BL0908001
          td.hpd-jis-table__cell 2008年5月12日
          td.hpd-jis-table__cell 大里総合建材株式会社
          td.hpd-jis-table__cell JIS A4706:2021
          td.hpd-jis-table__cell サッシ
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 3
          td.hpd-jis-table__cell BL0908002
          td.hpd-jis-table__cell 2008年5月12日
          td.hpd-jis-table__cell 大里総合建材株式会社
          td.hpd-jis-table__cell JIS A4702:2021
          td.hpd-jis-table__cell ドアセット
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 4
          td.hpd-jis-table__cell BL0308001
          td.hpd-jis-table__cell 2008年5月23日
          td.hpd-jis-table__cell 株式会社ＬＩＸＩＬ土浦工場
          td.hpd-jis-table__cell JIS A4706:2021
          td.hpd-jis-table__cell サッシ
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 5
          td.hpd-jis-table__cell BL0808001
          td.hpd-jis-table__cell 2008年5月26日
          td.hpd-jis-table__cell 株式会社ＬＩＸＩＬ有明工場
          td.hpd-jis-table__cell JIS A4706:2021
          td.hpd-jis-table__cell サッシ
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

  .hpd-jis-table__pagination
    .hpd-jis-table__dots ・・・

  .hpd-jis-table__wrapper
    table.hpd-jis-table__table
      thead.hpd-jis-table__thead.is-hidden
        tr.hpd-jis-table__row
          th.hpd-jis-table__header
          th.hpd-jis-table__header
          th.hpd-jis-table__header
          th.hpd-jis-table__header
          th.hpd-jis-table__header
          th.hpd-jis-table__header
          th.hpd-jis-table__header

      tbody.hpd-jis-table__tbody
        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 55
          td.hpd-jis-table__cell BL0324001
          td.hpd-jis-table__cell 2024年12月11日
          td.hpd-jis-table__cell AGCグラスプロダクツ株式会社<br>小山第二工場
          td.hpd-jis-table__cell JIS R3209:2023
          td.hpd-jis-table__cell 複層ガラス
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 56
          td.hpd-jis-table__cell BL0324002
          td.hpd-jis-table__cell 2025年1月31日
          td.hpd-jis-table__cell ＹＫＫ ＡＰ株式会社新潟工場
          td.hpd-jis-table__cell JIS R3209:2023
          td.hpd-jis-table__cell 複層ガラス
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 57
          td.hpd-jis-table__cell BL0324003
          td.hpd-jis-table__cell 2025年2月28日
          td.hpd-jis-table__cell フジミ工研株式会社
          td.hpd-jis-table__cell JIS A5373:2016
          td.hpd-jis-table__cell プレキャストプレストレスト<br>コンクリート製品
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 58
          td.hpd-jis-table__cell BL0924002
          td.hpd-jis-table__cell 2025年3月12日
          td.hpd-jis-table__cell 沖縄テクノクリート株式会社
          td.hpd-jis-table__cell JIS A5372:2016
          td.hpd-jis-table__cell プレキャスト鉄筋コンクリート製品
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

        tr.hpd-jis-table__row
          td.hpd-jis-table__cell.hpd-jis-table__cell--number 59
          td.hpd-jis-table__cell BL0325001
          td.hpd-jis-table__cell 2025年7月31日
          td.hpd-jis-table__cell ＹＫＫ ＡＰ株式会社栃木工場
          td.hpd-jis-table__cell JIS R3209:2023
          td.hpd-jis-table__cell 複層ガラス
          td.hpd-jis-table__cell
            a.hpd-jis-table__link(href="#")
              img.hpd-jis-table__icon(src="./images/pdf-icon.svg" alt="PDF")

