.hpd-main-3
  .hpd-main-3__container
    +breadcrumb2([{title: 'ホーム', link: '/'}, {current: '建築確認検査・住宅性能評価等（住宅・建築評価センター）'}])
  -
    var noticeItems = [
      { date: '2025.6.11', title: '70文字程度○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' },
      { date: '2025.6.11', title: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' },
      { date: '2025.6.11', title: '○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○', link: '#' }
    ]
  +banner('images/main-3.png', '建築確認検査・住宅性能評価等', '住宅・建築評価センター', 'is-orange', noticeItems)

  .hpd-main-3__content
    .hpd-main-3__container

      .hpd-main-3__section
        +sectionHeader('建築確認検査・住宅性能評価等', 'is-orange')
        .hpd-main-3__section-body
          .hpd-main-3__columns
            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 建築確認検査
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 住宅性能評価

            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 長期優良住宅の確認（新築）
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 長期優良住宅の確認（増築・改築）

      .hpd-main-3__section
        +sectionHeader('構造計算適合性判定', 'is-orange')
        .hpd-main-3__section-body
          .hpd-main-3__columns
            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 構造計算適合性判定
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 構造計算適合性判定（任意）

            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 構造図書のピアレビュー・ピアチェック等

      .hpd-main-3__section
        +sectionHeader('環境関係評価（省エネ等）', 'is-orange')
        .hpd-main-3__section-body
          .hpd-main-3__columns
            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 省エネ適合性判定
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 省エネ性能評価
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 省エネ相談窓口等
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') BELS係る評価
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 建築物省エネ法に基づく性能向上計画認定（30条）の技術的審査
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') CASBEE建築評価認証

            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') CASBEE戸建評価認証
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') CASBEE不動産評価認証
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') CASBEEウェルネスオフィス評価認証
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 低炭素建築物等技術的審査
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 建築物等のエネルギー消費性能に係る任意評定
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 東京ゼロエミ住宅認証

      .hpd-main-3__section
        +sectionHeader('保険・証明等に係る審査', 'is-orange')
        .hpd-main-3__section-body
          .hpd-main-3__columns
            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') フラット３５等の適合証明
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 贈与税に係る住宅性能証明書

            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 住宅瑕疵担保責任保険

      .hpd-main-3__section
        +sectionHeader('その他の法定業務', 'is-orange')
        .hpd-main-3__section-body
          .hpd-main-3__columns
            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 構造方法等の認定に係る性能評価
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') エレベーターの性能評価
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 型式適合認定・製造者認証
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 建築基準法に基づく公示等

            .hpd-main-3__column
              ul.hpd-main-3__list
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 特別評価方法認定に係る試験業務
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 住宅型式性能認定
                li.hpd-main-3__item
                  a.hpd-main-3__link(href='#') 住宅品質確保法に基づく公示等

  .hpd-main-3__contact-section
    +contactBox('建築確認検査・住宅性能評価等に関するお問い合わせ', '#contact', 'is-orange')
