.hpd-main-6
  .hpd-main-6__container
    include ../../blocks/breadcrum2
  -
    var noticeItems = [

    ]
  +banner('', 'ベターライフリフォーム関連制度', '', 'is-purple', noticeItems)

  .hpd-main-6__content
    .hpd-main-6__container
      .hpd-main-6__section
        span リフォーム業務品質審査登録制度
        span 住宅履歴情報管理支援サービス

  .hpd-main-6__contact-section
    +contactBox('お問い合わせ', '#contact', 'is-purple')
