- var heading = '確認検査［建築基準法］'

.hpd-008
  .hpd-008__container
    +breadcrumb3([{title: 'HOME', link: '/'}, {title: '建築確認検査・住宅性能評価等（住宅・建築評価センター）', link: '#'}, {current: '確認検査［建築基準法］'}], 'is-yellow')
    +banner2('建築確認検査・住宅性能評価等', '（住宅・建築評価センター）', '/images/banner-3.png')
    .hpd-008__content
      include ../../blocks/sidebar2
      .hpd-008__main
        include ../../blocks/heading2
        .hpd-008__text 当財団は平成14年8月20日指定確認検査機関として国土交通大臣の指定を受け、建築基準法に基づく確認審査、中間検査、完了検査及び仮使用認定の業務を行っております。

        include ./notice-box
        include ./info-box

        .hpd-008__pagination
          span.hpd-008__dot
          span.hpd-008__dot
          span.hpd-008__dot
