.hpd-notice-box
  h3.hpd-notice-box__title お知らせ

  .hpd-notice-box__content
    ul.hpd-notice-box__list
      li.hpd-notice-box__item
        span.hpd-notice-box__text.hpd-notice-box__text--highlight 2025年4月1日から、計画通知案件に関する業務を開始いたしました。

      li.hpd-notice-box__item
        span.hpd-notice-box__text 申請の際は当財団で定めた書類がございますのでご注意下さい。
        a.hpd-notice-box__link(href="#") 申請書類のダウンロードはこちら

      li.hpd-notice-box__item
        a.hpd-notice-box__link(href="#") 申請の手続きについてはこちら

      li.hpd-notice-box__item
        span.hpd-notice-box__text 電子申請については、お問い合わせください。

      li.hpd-notice-box__item
        span.hpd-notice-box__text
          | 確認済証等の押印廃止について<br>
          | 2024年12月27日に公布された建築基準法施行規則等の一部を改正する省令（国交省第111号）により、<br>
          | 建築基準法等に規定する確認済証等について、押印を不要とする様式に改められました。（2025年4月1日施行）<br>
          | 本省令に基づき、2025年4月1日以降に交付する各種様式への押印を廃止いたしました。

