@use '../../helpers/variables' as *;

.hpd-006 {
  margin-top: 40px;
  min-height: 100vh;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__main {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      margin: 40px 0;
      flex-direction: row;
      gap: 30px;
    }
  }

  &__section {
    width: 100%;

    .hpd-category-title {
      margin: 20px 0 0 0;
    }

    .hpd-jis-table {
      margin: 20px 0 20px 0;
    }
  }
}
