@use '../../helpers/variables' as *;

.hpd-006 {
  margin-top: 40px;
  min-height: 100vh;

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__main {
    flex: 1;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    gap: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
  }
}
